<form need-validation novalidate [formGroup]="updateUsuario" (ngSubmit)="submitUpdate()"
  class="containerInside card shadow mt-5 bg-white rounded">
  <div class="p-4">
    <div class="card-body">
      <div class="row header-row P-2">
        <div class="col">
          <!-- <p class="ptitle ">Editar mi perfil</p> -->
          <span class="text-secondary">EDITAR PERFIL</span>
        </div>
      </div>
      <hr />
      <div class="form">
        <div class="row regular-row m-2 align-items-baseline">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Apellidos</div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <input 
            id="apellido" 
            type="text" 
            class="form-control" 
            placeholder="" 
            formControlName="apellido" 
            [ngClass]="{
              'is-invalid': f['apellido'].errors
            }" />
          </div>

        <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
          Nombre
        </div>
        <div class="col-sm-12 col-xs-12 col-md-8 col-12">
          <input
            id="nombre"
            type="text"
            class="form-control"
            placeholder=""
            formControlName="nombre"
            [ngClass]="{
              'is-invalid': f['nombre'].errors
            }"
          />
        </div>
      </div>

        <div class="row regular-row m-2 align-items-baseline">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
            Tipo de Identificación
          </div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <select class="form-select form-select-lg" id="floatingcampo_modalidad"
              formControlName="tipo_identificacion" required>
              <option [value]="tipo" *ngFor="let tipo of tiposId">
                {{ tipo | uppercase }}
              </option>
            </select>
            <label for="floatingcampo_modalidad" class="selectLabel" [ngClass]="{ isFill: true }"></label>
          </div>
        </div>

        <div class="row regular-row m-2 align-items-baseline">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
            Número de Identificación
          </div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <input id="identificacion" 
            formControlName="identificacion" 
            type="text" class="form-control" 
            placeholder=" "
              [ngClass]="{
                'is-invalid': f['identificacion'].errors
              }" />
            <label for="identificacion" class="formLabel"> </label>
          </div>
        </div>

        <div class="row regular-row m-2 align-items-baseline">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
            Teléfono
          </div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <input id="telefono" formControlName="telefono" type="text" class="form-control" placeholder=" " [ngClass]="{
                'is-invalid': f['telefono'].errors
              }" />
            <label for="telefono" class="formLabel"> </label>
          </div>
        </div>

        <div class="row regular-row m-2 align-items-baseline">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
            Oficina
          </div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <input id="oficina" formControlName="oficina" type="text" class="form-control" placeholder=" " [ngClass]="{
                'is-invalid': f['oficina'].errors
              }" />
            <label for="telefono" class="formLabel"> </label>
          </div>
        </div>

        <div *ngIf="!(rol == 'PROFESOR' || rol == 'EMPLEADO')" class="row regular-row m-2 align-items-baseline">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
            Tipo de Vinculación
          </div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <input id="tipo_vinculacion" formControlName="tipo_vinculacion" type="text" class="form-control"
              placeholder=" " [ngClass]="{
                'is-invalid': f['tipo_vinculacion'].errors
              }" />
            <label for="tipo_vinculacion" class="formLabel"> </label>
          </div>
        </div>

        <!--CREAR-->

        <!-- <div class="row regular-row m-2 align-items-baseline">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
            Estado
          </div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <select
              class="form-select form-select-lg"
              id="estados"
              formControlName="estados"
              required
            >
              <option [value]="estado" *ngFor="let estado of estados">
                {{ estado | uppercase }}
              </option>
            </select>
            <label for="estado" class="formLabel"> </label>
            <label
            for="estados"
            class="selectLabel"
            [ngClass]="{ isFill: true }"
          ></label>
          </div>
        </div> -->

        <div class="row regular-row m-2 align-items-baseline" *ngIf="!(rol == 'PROFESOR' || rol == 'EMPLEADO')">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Cargo</div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <div class="formfloatig">
              <select class="form-select form-select-lg" id="roles_id" formControlName="roles_id" required
                placeholder=" " [ngClass]="{
                  'is-invalid': f['roles_id'].errors
                }">
                <option [value]="rol.id" *ngFor="let rol of roles$ | async">
                  {{ rol.nombre | uppercase }}
                </option>
              </select>
              <label for="roles_id" class="selectLabel" [ngClass]="{ isFill: true }">Cargo</label>
            </div>
          </div>
        </div>
        <div class="row regular-row m-2 align-items-baseline" *ngIf="!(rol == 'PROFESOR' || rol == 'EMPLEADO')">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Escalafón</div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <div class="formfloatig">
              <select class="form-select form-select-lg" id="escalafon" formControlName="escalafon" required
                placeholder=" " [ngClass]="{
                  'is-invalid': f['escalafon'].errors
                }">
                <option [value]="escala" *ngFor="let escala of escalafon">
                  {{ escala | uppercase }}
                </option>
              </select>
              <label for="escalafon" class="selectLabel" [ngClass]="{ isFill: true }">Escalafón</label>
            </div>
          </div>
        </div>

        <!-- <div class="row regular-row m-2 align-items-baseline">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Contraseña <span style="color:red">*</span></div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <input
            id="contrasena"
            type="password"
            class="form-control"
            placeholder=" "
            formControlName="contrasena"
            [ngClass]="{
              'is-invalid': f['contrasena'].errors
            }"
          />
          </div>
        </div> -->
        <div class="alert alert-danger" *ngIf="error">
          {{error}}
        </div>
        <hr />
        <div class="footer-row d-md-flex justify-content-md-end mb-3">
          <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
            <button type="button" class="btn btn-secondary" [routerLink]="['/usuarios/ver-usuario', getId]">
              Cancelar
            </button>
          </div>
          <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
            <button type="submit" id="btn-sub" (submit)="(true)" class="btn btn-success">
              <span *ngIf="isLoading | async" class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></span>
              Confirmar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>