h5{
    padding: 0;
  }
  
  .botones{
    margin-top: 10px;
  }
  
  .containerInside {
    margin-bottom: 10em;
    align-items: unset;
    min-height: 10vh;
    width: 50em;
  }
  
  .btn-submit {
    color: #fff;
    border-color: #fff;
    background: linear-gradient(
      90deg,
      rgba(67, 182, 73, 0.8) 0%,
      rgba(67, 182, 73, 0.9) 35%,
      rgba(141, 198, 63, 1) 100%
    );
  }.btn-submit:hover {
    background-color: #000;
  }
  
  
  @media (max-width: 920px) {
    .containerInside {
        width: 95%;
    }
  }
  