<div [formGroup]="form">
  <ng-template #footerTemplate>
    <hr class="my-0" />
    <p *ngIf="!fromDate">Elige la fecha inicial</p>
    <button
      class="btn btn-primary btn-sm m-2 float-start"
      (click)="model = today; datepicker.close()"
      type="button"
    >
      Hoy
    </button>
    <button
      class="btn btn-secondary btn-sm m-2 float-end"
      (click)="datepicker.close()"
      type="button"
    >
      Cerrar
    </button>
  </ng-template>

  <div class="dp-hidden position-absolute">
    <div class="input-group">
      <input
        hidden
        name="datepicker"
        class="form-control"
        ngbDatepicker
        #datepicker="ngbDatepicker"
        [autoClose]="'outside'"
        (dateSelect)="onDateSelection($event)"
        [displayMonths]="2"
        [dayTemplate]="t"
        outsideDays="hidden"
        [startDate]="fromDate!"
        tabindex="-1"
        [footerTemplate]="footerTemplate"
        placement="left"
        [positionTarget]="buttonEl"
      />
      <ng-template #t let-date let-focused="focused">
        <span
          class="custom-day"
          [class.focused]="focused"
          [class.range]="isRange(date)"
          [class.faded]="isHovered(date) || isInside(date)"
          (mouseenter)="hoveredDate = date"
          (mouseleave)="hoveredDate = null"
        >
          {{ date.day }}
        </span>
      </ng-template>
    </div>
  </div>

  <div class="col-12 mt-2" style="margin-bottom: 3px; margin-top: 6 px">
    <div class="input-group">
      <input
        #dpFromDate
        class="form-control"
        type="text"
        (click)="datepicker.toggle(); clicked = clicked + 1"
        placeholder="yyyy-mm-dd"
        name="dpFromDate"
        formControlName="start_date"
        (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
        (input)="onChanged()"
        [value]="formatter.format(fromDate) ? formatter.format(fromDate) : null"
        [ngClass]="{
          'is-invalid':
          (submitted && f['end_working_date'].errors) ||
          ((!fromDate || !toDate) && clicked !== 0) ||
          (default_date_picker ? false : selectDays(fromDate, toDate))

        }"
        [attr.disabled]="
        !default_date_picker ?  
          !total_days ? 
            true : null
          : null"
      />
      <button
        #buttonEl
        class="btn btn-outline-secondary"
        (click)="datepicker.toggle(); clicked = clicked + 1"
        type="button"
        [attr.disabled]="
        !default_date_picker ?  
          !total_days ? 
            true : null
          : null"
          
      >
        <i class="fa fa-calendar"> </i>
      </button>
    </div>
    <!-- errors dates -->
    <div *ngIf="!default_date_picker">
      <div
        *ngIf="
          (submitted && f['total_days'].errors) ||
          ((!fromDate || !toDate) && clicked !== 0) ||
          selectDays(fromDate, toDate)
        "
        class="invalid"
      >
        <div *ngIf="selectDays(fromDate, toDate)">
          La cantidad de días elegidos de vacaciones no es igual a los escogidos
          (tenga en cuenta si son hábiles o no)
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xs-6 col-md-6" hidden>
    <div class="input-group" (click)="datepicker.toggle()">
      <input
        #dpToDate
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dpToDate"
        formControlName="end_date"
        [value]="formatter.format(toDate)"
        (input)="toDate = validateInput(toDate, dpToDate.value)"
        (input)="onChanged()"
      />
    </div>
  </div>
</div>
