
<!-- JUSTIFICATION -->
 <div class="row regular-row mt-4">
    <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Justificación *</div>
    <div class="col-sm-12 col-xs-12 col-md-8 col-12">
      <div class="form-group">
        <textarea
          id="floatingjustification"
          formControlName="justification"
          class="form-control"
          type="justification"
          placeholder=" "
          
          required
          rows="5"
        ></textarea>
        
       
      </div>
    </div>
  </div>
