
<!-- JUSTIFICATION -->
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="row regular-row mt-4">
    <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Justificación *</div>
    <div class="col-sm-12 col-xs-12 col-md-8 col-12">
      <div class="form-group">
        <textarea
          id="floatingjustification"
          formControlName="body"
          class="form-control"
          type="body"
          placeholder=" "
          [ngClass]="{ 'is-invalid': isInvalidForm('body') }"
          required
          rows="15"
        ></textarea>
        <!-- errors body -->
        <!-- errors justification -->
        <div
            *ngIf="
              (submitted || f['body'].touched) &&
              f['body'].errors
            "
            class="invalid"
          >
            <div
              *ngIf="(submitted || f['body'].touched) && (f['body'].errors?.['required'] || 
              f['body'].errors?.['maxlength'] || f['body'].errors?.['minlength'])"
            >
              La justificación debe tener al menos 30 caracteres y máximo 2000
              caracteres.
            </div>
          </div>
      </div>
    </div>
  </div>

  
</form> 
