.btn-submit {
  color: #fff;
  border-color: #fff;
  background: linear-gradient(
    90deg,
    rgba(2, 105, 55, 1) 0%,
    rgba(2, 105, 55, 1) 0%,
    rgba(53, 143, 57, 1) 100%
  );
}.btn-submit:hover {
  transition: all 0.5s ease-out;
  background-color: #fff;
}

.btn-canc {
  text-align: center;
  border-radius: 0.4em;
  padding: 0.4em;
  color: #fff;
  background-color: #a9b1a9;
  border-color: #7d8180;
} .btn-canc:hover {
background-color: #9e9b9b;
} .btn-canc:active {
border-color: #9e9b9b;
}

.containerInside {
  width: 40%!important;
}

@media screen and (max-width: 576px){
  .containerInside {
    width: 95%!important;
  }
}

@media (min-width: 577px) and (max-width: 899px){
  .containerInside {
    width: 60%!important;
  }
}

hr {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

.invalid {
  color: red;
}