<form
  class="need-validation"
  need-validation
  novalidate
  [formGroup]="form"
  (ngSubmit)="submit()"
>
<!-- Elige si tienes o no una dedicación exlusiva -->


<div class="form-group">
  <label>Este informe corresponde a una dedicación exclusiva aprobada en SIGA?</label>
  <div class="form-check">
    <input class="form-check-input" type="radio" value="true" formControlName="from_full_time" id="from_full_time_yes">
    <label class="form-check-label" for="from_full_time_yes">
      Sí
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" value="false" formControlName="from_full_time" id="from_full_time_no">
    <label class="form-check-label" for="from_full_time_no">
      No
    </label>
  </div>
</div>
<div *ngIf="form.get('from_full_time')?.value" class="row regular-row mt-4 align-items-baseline">
  <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Escriba el ID de la dedicación por favor *</div>
  <!-- Resto del código... -->
</div>

<div *ngIf="!form.get('from_full_time')?.value" class="row regular-row mt-4 align-items-baseline">
  <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Escriba el titulo de la dedicación *</div>
  <!-- Resto del código... -->
</div>
<hr />

<router-outlet (activate)="onActivate($event)"></router-outlet>

<button
type="button"
class="btn btn-status btn-block col-12 mt-3"
(click)="historyFullTime = !historyFullTime"
>
Ver Historial de dedicaciones
</button>

<div *ngIf="fullTime$ | async as fullTime">
  <div class="row regular-row">
    <app-reportfulltime-list
      *ngIf="historyFullTime"
    ></app-reportfulltime-list>
  </div>
</div>

    
        

    <!-- JUSTIFICATION -->
    <div class="row regular-row mt-4">
      <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Justificación *</div>
      <div class="col-sm-12 col-xs-12 col-md-8 col-12">
        <div class="form-group">
          <textarea
            id="floatingjustification"
            formControlName="justification"
            class="form-control"
            type="justification"
            placeholder=" "
            [ngClass]="{ 'is-invalid': isInvalidForm('justification') }"
            required
            rows="5"
          ></textarea>
          <!-- errors justification -->
          <div
            *ngIf="
              (submitted || f['justification'].touched) &&
              f['justification'].errors
            "
            class="invalid"
          >
            <div
              *ngIf="(submitted || f['justification'].touched) && (f['justification'].errors?.['required'] || 
              f['justification'].errors?.['maxlength'] || f['justification'].errors?.['minlength'])"
            >
              La justificación debe tener al menos 5 caracteres y máximo 500
              caracteres.
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--ARCHIVOS-->
    <h6 class="mt-3 text-center">
      <span class="text-muted">Archivos adjuntos del permiso</span>
    </h6>
    <div
      class="alert alert-danger"
      *ngIf="files.length > 0 && !validFileType()"
    >
      Ese tipo de archivo no es permitido.
    </div>
    <div class="alert-danger alert" *ngIf="files.length > 0 && !validSize()">
      Los archivos no deben pesar más de 2 MB.
    </div>
    <div class="formfloatig" style="flex-direction: column">
      <div
        *ngFor="let producto of archivos; last as isLast; let i = index"
        class="arrayLike formfloatig d-flex justify-content-between"
      >
        <div class="document_new">
          <label class="btn-btn-default cursor is-hoverable">
            <div class="fa fa-upload fa-2x"></div>
            <input
              [id]="i"
              class="file-upload"
              type="file"
              (change)="onUpload($event, i)"
            />
            <label [for]="i" class="is-hoverable cursor link-success" style="margin-left: 10px">{{
              files[i] ? files[i].name : "Subir archivo"
            }}</label>
          </label>
        </div>
        <div class="buttons">
          <button
            class="btn btn-circle btn-remove btn-sm m-1"
            type="button"
            (click)="removeFile(i)"
          >
            <i class="fa fa-minus"></i>
          </button>
          <button
            class="btn btn-circle btn-add btn-sm m-1"
            type="button"
            (click)="archivos.push(1)"
            *ngIf="isLast && archivos.length < 3"
          >
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
  
  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
    {{ error }}
  </div>
  <hr />
</form>
