<form>
    <div class="accordion-body">
        <div class="row">
            <div class="alert alert-warning mt-3 col-12 col-lg-5">
                <strong>¡Importante!</strong>
                Para poder realizar la solicitud, debe adjuntar los siguientes
                documentos:
                <ul>
                    <li>Carta de aceptación</li>
                    <li>Por definir</li>
                    <li>Por definir</li>
                </ul>
            </div>
            <div class="col-12 col-lg-7 mt-3">
                <div class="formfloatig" style="flex-direction: column">
                    <div class="alert alert-danger" *ngIf="!validFileType()">
                        Ese tipo de archivo no es permitido.
                    </div>
                    <div class="alert-danger alert" *ngIf="!validSize()">
                        Los archivos no deben pesar más de 6 MB.
                    </div>
                    <!-- Carta de invitación -->
                    <div class="arrayLike formfloatig d-flex justify-content-between mt-2">
                        <div class="document_new">
                            <label class="btn-btn-default cursor is-hoverable">
                                <div class="fa fa-upload fa-2x"></div>
                                <input [id]="0" class="file-upload" type="file" (change)="onUpload($event, 0)" />
                                <label [for]="0" class="is-hoverable cursor link-success" style="margin-left: 10px">{{
                                    files[0] ? files[0].name : "Subir carta de invitación"
                                    }}</label>
                            </label>
                        </div>
                        <div class="buttons">
                            <button class="btn btn-circle btn-remove btn-sm m-1" type="button" (click)="removeFile(0)">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- AFILIACION A SALUD -->
                    <div class="arrayLike formfloatig d-flex justify-content-between mt-2">
                        <div class="document_new">
                            <label class="btn-btn-default cursor is-hoverable">
                                <div class="fa fa-upload fa-2x"></div>
                                <input [id]="1" class="file-upload" type="file" (change)="onUpload($event, 1)" />
                                <label [for]="1" class="is-hoverable cursor link-success" style="margin-left: 10px">{{
                                    files[1] ? files[1].name : "Subir afiliación a salud"
                                    }}</label>
                            </label>
                        </div>
                        <div class="buttons">
                            <button class="btn btn-circle btn-remove btn-sm m-1" type="button" (click)="removeFile(1)">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Certificación bancaria -->
                    <div class="arrayLike formfloatig d-flex justify-content-between mt-2">
                        <div class="document_new">
                            <label class="btn-btn-default cursor is-hoverable">
                                <div class="fa fa-upload fa-2x"></div>
                                <input [id]="2" class="file-upload" type="file" (change)="onUpload($event, 2)" />
                                <label [for]="2" class="is-hoverable cursor link-success" style="margin-left: 10px">{{
                                    files[2]
                                    ? files[2].name
                                    : "Subir certificación bancaria"
                                    }}</label>
                            </label>
                        </div>
                        <div class="buttons">
                            <button class="btn btn-circle btn-remove btn-sm m-1" type="button" (click)="removeFile(2)">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>