<div class="d-flex justify-content-center align-items-center p-3 mt-5">
  <!-- <img src="../../../../assets/logosimbolo-vertical.png" alt="Logo vertical de la universidad de antioquia" class="mt-4" style="width:40%"> -->

  <div class="card shadow mt-5 bg-white rounded">
    <div class="d-flex justify-content-center">
      <h1 class="m-2 p-2 col-10 text-wrap fs-5 text-secondary">
        Cambiar contraseña
      </h1>
    </div>
    <form need-validation novalidate [formGroup]="form" (ngSubmit)="submit()">
      <!-- <div [ngbCollapse]="!isCollapsed" id="Login"> -->
      <div>
        <div class="form px-4 pt-1 m-2">
          <!-- CONTRASENA -->
          <div class="formfloatig m-2">
            <input
              id="Correo-input"
              type="password"
              class="form-control"
              placeholder="Nueva contraseña"
              formControlName="newPassword"
              autofocus
            />
          </div>

          <!-- REPETIR CONTRASENA -->
          <div class="formfloatig m-2">
            <input
              id="Contraseña"
              type="password"
              class="form-control"
              placeholder="Repetir contraseña"
              formControlName="repeatNewPassword"
            />

            <!-- Errores -->

            <div class="invalid" *ngIf="isInvalidForm('newPassword')">
              La contraseña debe tener al menos 8 caracteres
            </div>

            <div
              class="invalid"
              *ngIf="form.errors?.['notmatched'] && form.get('repeatNewPassword')?.touched"
            >
              Las contraseñas no coinciden
            </div>
          </div>

          <div class="d-grid gap-2 col-12">
            <button
              id="btn-sub"
              (submit)="(true)"
              class="btn btn-dark btn-submit"
            >
              <span
                *ngIf="isLoading | async"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                alt="Smiley"
              ></span>
              Cambiar
            </button>
          </div>
          <div class="d-grid gap-2 col-12">
            <button
              id="btn-sub"
              (submit)="(false)"
              class="btn btn-outline-secondary"
              (click)="cancel()"
            >
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
