.text-center {
    text-align: center;
}

.container {
    margin: 5em;
}

.title {
    color: #026937;
}

.btn-submit {
    color: #fff;
    border-color: #fff;
    background: linear-gradient(90deg,
            rgba(67, 182, 73, 0.8) 0%,
            rgba(67, 182, 73, 0.9) 35%,
            rgba(141, 198, 63, 1) 100%);
}

.btn-submit:hover {
    transition: all 0.5s ease-out;
    background-color: rgba(67, 182, 73, 0.8) 0%, ;
}

a {
    padding: 0;
}

.invalid {
    color: rgb(216, 36, 36);
  }