<div
  class="container card shadow containerInside mt-5 p-3"
  *ngIf="{ isSuperUser: isSuperUser$ | async } as context"
>
  <form [formGroup]="form" (submit)="search()">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-8">
        <div class="row">
          <div class="col-10">
            <input
              type="text"
              class="form-control"
              formControlName="search"
              [ngClass]="{ 'is-loading': (isLoading | async) }"
              placeholder="Buscar"
            />
          </div>
          <div class="col-2 search">
            <button class="btn btn-warning" type="submit" (submit)="(true)">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-5 col-lg-2" *ngIf="context.isSuperUser">
        <select
          class="form-select"
          style="width: auto"
          formControlName="activo"
        >
          <option [ngValue]="false" selected>No archivados</option>
          <option [ngValue]="true">Archivados</option>
          <option [ngValue]="null">Todos</option>
        </select>
      </div>
    </div>
  </form>
  <div class="table-responsive-lg">
    <table
      *ngIf="applications$ | async as applications"
      class="table table-striped table-hover table-borderless table-responsive"
    >
      <thead>
        <tr>
          <th>id</th>
          <th>Solicitud</th>
          <th>Estado</th>
          <th>Fecha de creación</th>
          <th *ngIf="context.isSuperUser">Nombre</th>
          <th *ngIf="context.isSuperUser">Apellidos</th>
          <th *ngIf="context.isSuperUser">Departamento</th>
          <th *ngIf="context.isSuperUser">Facultad</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngIf="applications.length == 0" style="width: 100%">
          <td colspan="7">No se encontraron resultados</td>
        </tr>
        <tr
          [routerLink]="[
            '/solicitudes/ver/' +
              application.id +
              '/' +
              application.application_sub_type.application_type.description
          ]"
          *ngFor="let application of applications"
          class="cursor"
        >
          <td>{{ application.id }}</td>
          <td>{{ application.application_sub_type.name }}</td>
          <td>
            <span
              class="badge badge-pill pill"
              [ngClass]="{
                'bg-requested':
                  application.application_status[0].status.name ===
                  'SOLICITADA',
                'bg-ok':
                  application.application_status[0].status.name ===
                  'VISTO BUENO',
                'bg-approved':
                  application.application_status[0].status.name === 'APROBADA',
                'bg-rejected':
                  application.application_status[0].status.name === 'RECHAZADA',
                'bg-ended':
                  application.application_status[0].status.name == 'FINALIZADA'
              }"
              >{{ application.application_status[0].status.name }}</span
            >
          </td>
          <td>{{ application.created_at | date : "yyyy-MM-dd" }}</td>
          <td *ngIf="context.isSuperUser">{{ application.user.names }}</td>
          <td *ngIf="context.isSuperUser">{{ application.user.last_names }}</td>
          <td *ngIf="context.isSuperUser">
            {{ application.user.department.name }}
          </td>
          <td *ngIf="context.isSuperUser">
            {{ application.user.department.school.name }}
          </td>
          <td>
            <button
              *ngIf="!context.isSuperUser"
              [routerLink]="[
                '/solicitudes/editar/' +
                  application.id +
                  '/' +
                  application.application_sub_type.application_type.description
              ]"
              (click)="$event.stopPropagation()"
              class="btn btn-light btn-sm"
              type="button"
            >
              <i class="fas fa-edit"></i>
            </button>
            <button
              *ngIf="context.isSuperUser"
              (click)="
                filed(application.id); search(); $event.stopPropagation()
              "
              class="btn btn-light btn-sm"
              type="button"
            >
              {{ application.filed ? "Desarchivar" : "Archivar" }}
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr style="width: 100%">
          <td colspan="7">
            <button
              [disabled]="page == 1"
              class="btn btn-outline-primary btn-sm"
              type="button"
              (click)="prevPage()"
            >
              <i class="fas fa-arrow-left"></i>
            </button>
            {{ page }}
            <button
              [disabled]="applications.length != limit"
              class="btn btn-outline-primary btn-sm"
              type="button"
              (click)="nextPage()"
            >
              <i class="fas fa-arrow-right"></i>
            </button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
