.containerInside {
    width: 85%;
    margin-bottom: 10em;
    align-items: unset;
    min-height: 50vh;
    margin-top: 5em!important;
  }
  
  @media screen and (max-width: 576px) {
    .containerInside {
        width: 95% !important;
  
    }
  }
  
  hr{
    margin: 0!important;
  }
  
  .btn-light {
    color: #fff;
    background-color: #43b649;
  }
  
  
  .search{
    padding: 0!important;
  }
  

  .btn-submit {
    color: #fff;
    border-color: #fff;
    background: linear-gradient(
      90deg,
      rgba(67, 182, 73, 0.8) 0%,
      rgba(67, 182, 73, 0.9) 35%,
      rgba(141, 198, 63, 1) 100%
    );
  }.btn-submit:hover {
    transition: all 0.5s ease-out;
    background-color: rgba(67, 182, 73, 0.8) 0%,;
  }