<div *ngIf="commission">
    <div class="row regular-row mt-2">
        <div class="col-xs-12 col-sm-6 label fw-bold">Día que Inicia</div>

        <div class="col-xs-12 col-sm-6">
            {{ commission.start_date| date: "fullDate" }}
        </div>
    </div>

    <div class="row regular-row mt-2">
        <div class="col-xs-12 col-sm-6 label fw-bold">Día que Termina</div>
        <div class="col-xs-12 col-sm-6">
            {{ commission.end_date | date: "fullDate" }}
        </div>
    </div>

    <div class="row regular-row mt-2">
        <div class="col-xs-12 col-sm-6 label fw-bold">Idioma</div>
        <div class="col-xs-12 col-sm-6">{{ commission.lenguage }}</div>
    </div>

    <div class="row regular-row mt-2">
        <div class="col-xs-12 col-sm-6 label fw-bold">Lugar</div>
        <div class="col-xs-12 col-sm-6">{{ commission.country + ', ' + commission.state + ', ' + commission.city |
            titlecase }}</div>
    </div>

    <div class="row regular-row mt-2">
        <div class="col-xs-12 col-sm-6 label fw-bold">Justificación</div>
        <div class="col-xs-12 col-sm-6">{{ commission.justification }}</div>
    </div>

    <div class="row regular-row mt-2">
        <div class="col-xs-12 col-sm-6 label fw-bold">Documentos</div>
        <div class="col-xs-12 col-sm-6">
          <ul>
            <li *ngFor="let doc of commission.documents">
              <span class="link-success cursor" (click)="openDocument(doc.path)"
                >{{ doc.name }}&nbsp;&nbsp;</span
              >&nbsp;
            </li>
          </ul>
        </div>
      </div>

    <div class="row regular-row mt-2">
        <div class="col-xs-12 col-sm-6 label fw-bold">Resolución</div>
        <div class="col-6">resolución, falta </div>
    </div>
</div>