<section class="container">
    <!-- The navbar for the wizard -->
    <header id="header1" class="header" [ngClass]="{'sticky-md-top':showContainer}">
      <ol>
        <ng-container *ngFor="let step of steps; let i = index;">
          <li [ngClass]="(selectedIndex === i) ? activeClass : ''">
            <a (click)="selectedIndex = i">
              <ng-container *ngIf="step.stepLabel; else showLabelText" [ngTemplateOutlet]="step.stepLabel.template">
              </ng-container>
              <ng-template #showLabelText>
                {{ step.label }}
              </ng-template>
            </a>
          </li>
        </ng-container>
      </ol>
    </header>
<!-- 
    <div class="side-tab">

      <header #header2 id="header2" class="header header2" [ngClass]="{'sticky-top':showContainer}">
        <ol>
          <ng-container *ngFor="let step of steps; let i = index;">
            <li [ngClass]="(selectedIndex === i) ? activeClass : ''">
              <a (click)="selectedIndex = i">
                <ng-container *ngIf="step.stepLabel; else showLabelText" [ngTemplateOutlet]="step.stepLabel.template">
                </ng-container>
                <ng-template #showLabelText>
                  {{ step.label }}
                </ng-template>
              </a>
            </li>
          </ng-container>
        </ol>
      </header>

    </div>

    <div id="main">
      <button class="openbtn" (click)="openNav()">☰ Open Sidebar</button>  
    </div>
     -->
  
    <div class="body">
      <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
    </div>
  </section>