<div class="modal-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Estado</th>
            <th scope="col">Fecha de Actualización</th>
            <th scope="col">Observación</th>
          </tr>
        </thead>
        <tbody *ngIf="fullTime">
          <tr *ngFor="let dedicacion of fullTime">
  
            <!-- <td>{{ dedicacion.created_at | date: "fullDate" }}</td> -->
            <td>{{ dedicacion.id }}</td>
            <td>{{ dedicacion.full_time.title }}</td>
            <td>{{ dedicacion.full_time.title }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
