<form
  class="container containerInside card shadow mt-5 bg-white rounded"
  [formGroup]="create_application_form"
  (ngSubmit)="onSubmitApplication()"
>
  <div class="p-2">
    <div class="card-body">
      <div class="row header-row P-2">
        <div class="col">
          <span class="text-secondary">CREAR SOLICITUD</span>
        </div>
      </div>

      <hr />

      <span class="mt-4">Selecciona el tipo de solicitud</span>
      <div class="row regular-row">
        <div class="col-12">
          <select
            class="form-select form-select-lg"
            id="identification_type"
            formControlName="identification_type"
            required
            placeholder=" "
            [ngClass]="{
              'is-invalid':
                f['application_type'].errors && f['application_type'].touched
            }"
          >
            <option
              [value]="application_type"
              *ngFor="let application_type of application_type$ | async"
            >
              {{ application_type.name | uppercase }}
            </option>
          </select>
        </div>
      </div>

      <hr />
      <!-- buttons -->
      <div class="footer-row d-md-flex justify-content-md-end mb-3">
        <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
          <a
            type="button"
            class="btn btn-outline-secondary"
            [routerLink]="['../home']"
          >
            Cancelar
          </a>
        </div>

        <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
          <button id="btn-sub" class="btn btn-submit">
            <span
              *ngIf="is_loading | async"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Continuar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
