<form [formGroup]="form">
  <div class="accordion">
    <div class="accordion-item">
      <!-- HEADER -->
      <h6 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <span class="muted">
            <i
              class="fa fa-info-circle"
              title="Información general de la solicitud"
            ></i>
            Información general
          </span>
        </button>
      </h6>

      <!-- CONTENT -->
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
      >
        <div class="accordion-body">
          <div class="arrayLike formfloatig justify-content-center">
            <div class="row activity_form">
              <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
                  <span class=""
                    >Dependencia donde desea realizar la solicitud
                    <span style="color: red">*</span></span
                  >
                </div>

                <div class="col-sm-12 col-xs-12 col-md-8">
                  <div
                    class="formfloatig"
                    *ngIf="applicationType$ | async as applicationType"
                  >
                    <div
                      *ngFor="let tipo of applicationType.application_sub_type"
                    >
                      <input type="checkbox" class="form-check-input" />
                      {{ tipo.name }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
                  <span class=""
                    >Tipo de solicitud <span style="color: red">*</span></span
                  >
                </div>

                <div class="col-sm-12 col-xs-12 col-md-8">
                  <div class="formfloatig">
                    <select
                      class="form-control form-select-lg cursor"
                      formControlName="application_type"
                    >
                      <option value="0" disabled selected>
                        Elige el tipo de solicitud
                      </option>
                      <option>Prueba</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
                  <span class=""
                    >Proyecto o Programa <span style="color: red">*</span></span
                  >
                </div>

                <div class="col-sm-12 col-xs-12 col-md-8">
                  <div class="formfloatig">
                    <input
                      formControlName="project"
                      class="form-control"
                      placeholder=""
                    />
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
                  <span class=""
                    >Objetivo de la solicitud
                    <span style="color: red">*</span></span
                  >
                </div>

                <div class="col-sm-12 col-xs-12 col-md-8">
                  <div class="formfloatig">
                    <input
                      formControlName="goal"
                      class="form-control"
                      placeholder="Objetivo del viaje, traslado, movilidad académica…."
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
