<form
  class="need-validation"
  need-validation
  novalidate
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <!-- DATEPICKER -->

  <ng-template #footerTemplate>
    <hr class="my-0" />
    <p *ngIf="fromDate && !toDate">Elige la segunda fecha</p>
    <p *ngIf="!fromDate">Elige la primera fecha</p>
    <button
      class="btn btn-primary btn-sm m-2 float-start"
      (click)="model = today; datepicker.close()"
      type="button"
    >
      Hoy
    </button>
    <button
      class="btn btn-secondary btn-sm m-2 float-end"
      (click)="datepicker.close()"
      type="button"
    >
      Cerrar
    </button>
  </ng-template>

  <div class="dp-hidden position-absolute">
    <div class="input-group">
      <input
        hidden
        name="datepicker"
        class="form-control"
        ngbDatepicker
        #datepicker="ngbDatepicker"
        [autoClose]="'outside'"
        (dateSelect)="onDateSelection($event)"
        [displayMonths]="2"
        [dayTemplate]="t"
        outsideDays="hidden"
        [startDate]="fromDate!"
        tabindex="-1"
        [footerTemplate]="footerTemplate"
        placement="left"
        [positionTarget]="buttonEl"
      />
      <ng-template #t let-date let-focused="focused">
        <span
          class="custom-day"
          [class.focused]="focused"
          [class.range]="isRange(date)"
          [class.faded]="isHovered(date) || isInside(date)"
          (mouseenter)="hoveredDate = date"
          (mouseleave)="hoveredDate = null"
        >
          {{ date.day }}
        </span>
      </ng-template>
    </div>
  </div>

  <div class="accordion">
    <!-- INFORMACION GENERAL -->
    <div class="accordion-item">
      <!-- header -->
      <h6 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <span class="muted">
            <i
              class="fa fa-info-circle"
              title="Información general de la solicitud"
            ></i>
            Lugar
          </span>
        </button>
      </h6>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
      >
        <div class="accordion-body">
          <!-- COUNTRY - STATE - CITY -->
          <div class="row regular-row mt-3 align-items-baseline">
            <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
              País <span style="color: red">*</span>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-8">
              <div class="formfloatig">
                <input
                  id="floatingcountry"
                  formControlName="country"
                  class="form-control"
                  placeholder=" "
                  [ngClass]="{
                    'is-invalid':
                      (submitted && f['country'].errors) ||
                      isInvalidForm('country')
                  }"
                />
              </div>
            </div>
          </div>

          <div class="row regular-row mt-3 align-items-baseline">
            <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Ciudad</div>
            <div class="col-sm-12 col-xs-12 col-md-8">
              <div class="formfloatig">
                <input
                  id="floatingcity"
                  formControlName="city"
                  class="form-control"
                  placeholder=" "
                  [ngClass]="{ 'is-invalid': isInvalidForm('city') }"
                />
              </div>
            </div>
          </div>
          <div class="row regular-row mt-3 align-items-baseline">
            <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
              Estado/Región
            </div>
            <div class="col-sm-12 col-xs-12 col-md-8">
              <div class="formfloatig">
                <input
                  id="floatingstate"
                  formControlName="state"
                  class="form-control"
                  placeholder=" "
                  [ngClass]="{ 'is-invalid': isInvalidForm('state') }"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion mt-3">
    <!-- PRESUPUESTO -->
    <div class="accordion-item">
      <!-- header -->
      <h6 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          <span class="muted">
            <i
              class="fa fa-info-circle"
              title="A continuación llene los siguientes campos para el presupuesto de su solicitud, por cada item haga click sobre el botón +"
            ></i>
            Presupuesto
          </span>
        </button>
      </h6>

      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
      >
        <div class="accordion-body">
          <div
            class="arrayLike formfloatig justify-content-center mt-3"
            formArrayName="budget"
          >
            <div
              class="row activity_form mb-2"
              *ngFor="
                let budget of budgetArr.controls;
                last as isLast;
                let i = index
              "
              [formGroupName]="i"
            >
              <div class="lineGroup col-xs-12 col-md-12 col-lg-12">
                <div class="row">
                  <!-- Descripción -->
                  <div class="formfloatig col-sm-12 col-md-6 col-lg-6">
                    <div class="col">
                      <span>RUBRO</span>
                    </div>
                    <input
                      type="text"
                      [id]="'description' + i"
                      formControlName="description"
                      class="form-control"
                      placeholder="ejemplo: Hotel"
                    />
                  </div>
                  <!-- VALOR -->
                  <div class="formfloatig col-sm-12 col-md-6 col-lg-4">
                    <div class="col">
                      <span>VALOR(Pesos Colombianos)</span>
                    </div>
                    <input
                      type="number"
                      [id]="'amount' + i"
                      formControlName="amount"
                      class="form-control"
                      placeholder="150000"
                    />
                  </div>
                  <div class="buttons col-sm-12 col-md-12 col-lg-2 mt-4">
                    <button
                      class="btn btn-add"
                      type="button"
                      (click)="addInputBubget()"
                      *ngIf="isLast"
                    >
                      <i class="fa fa-plus"></i>
                    </button>
                    <button
                      class="btn btn-remove"
                      type="button"
                      *ngIf="budgetArr.length > 1"
                      (click)="removeInput('budget', i)"
                    >
                      <i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion mt-3">
    <!-- APOYO Y FECHAS -->
    <div class="accordion-item">
      <!-- header -->
      <h6 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          <span class="muted">
            <i
              class="fa fa-info-circle"
              title="A continuación llene los siguientes campos para la dependencia que apoyará su solicitud y la fecha de inicio y fin de la actividad "
            ></i>
            Fechas
          </span>
        </button>
      </h6>

      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
      >
        <div class="accordion-body">
          <!-- DATES -->
          <div class="mt-4 row regular-row align-items-baseline">
            <span class="col-md-4 col-xs-12 col-sm-12 label mb-2"
              >Fechas <span style="color: red">*</span></span
            >
            <div
              class="col-sm-12 col-xs-12 col-md-8"
              style="margin-bottom: 5px"
            >
              <div class="input-group">
                <input
                  #dpFromDate
                  class="form-control"
                  type="text"
                  (click)="datepicker.toggle(); clicked = clicked + 1"
                  placeholder="aaaa-mm-dd - aaaa-mm-dd"
                  name="dpFromDate"
                  formControlName="start_date"
                  (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
                  [value]="
                    formatter.format(fromDate)
                      ? formatter.format(fromDate) +
                        ' - ' +
                        formatter.format(toDate)
                      : null
                  "
                  [ngClass]="{
                    'is-invalid':
                      (submitted && f['start_date'].errors) ||
                      ((!fromDate || !toDate) && clicked !== 0)
                  }"
                />
                <button
                  #buttonEl
                  class="btn btn-outline-secondary"
                  (click)="datepicker.toggle(); clicked = clicked + 1"
                  type="button"
                >
                  <i class="fa fa-calendar"> </i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion mt-3">
    <div class="accordion-item">
      <!-- header -->
      <h6 class="accordion-header" id="headingFour">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          <span class="muted">
            <i
              class="fa fa-info-circle"
              title="A continuación llene los siguientes campos para la justificación de la solicitud"
            ></i>
            justificación
          </span>
        </button>
      </h6>
      <!-- content -->
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="headingSix"
      >
        <div class="accordion-body">
          <!-- JUSTIFICATION -->
          <div class="row regular-row mt-4 align-items-baseline">
            <div class="col-sm-12 col-xs-12 col-md-12 col-12">
              <div class="formfloatig">
                <textarea
                  id="floatingjustificacion"
                  formControlName="justification"
                  class="form-control"
                  type="justificacion"
                  placeholder=" "
                  [ngClass]="{
                    'is-invalid':
                      (submitted && f['justification'].errors) ||
                      isInvalidForm('justification')
                  }"
                  rows="5"
                ></textarea>
                <!-- errors justification -->
                <div
                  *ngIf="
                    (submitted || f['justification'].touched) &&
                    f['justification'].errors
                  "
                  class="invalid"
                >
                  <div
                    *ngIf="(submitted || f['justification'].touched) && (f['justification'].errors?.['required'] || 
                f['justification'].errors?.['maxlength'] || f['justification'].errors?.['minlength'])"
                  >
                    La justificación debe tener al menos 5 caracteres y máximo
                    500 caracteres.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion mt-3">
    <div class="accordion-item">
      <h6 class="accordion-header" id="headingFive">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          <span class="muted">
            <i
              class="fa fa-info-circle"
              title="A continuación llene los siguientes campos, por cada archivo haga click sobre el botón +"
            ></i>
            Archivos adjuntos de la solicitud
          </span>
        </button>
      </h6>

      <!-- content -->
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        aria-labelledby="headingFive"
      >
        <div class="accordion-body">
          <!-- ALERT BOX -->
          <div class="row">
            <div class="alert alert-warning mt-3 col-12 col-lg-5">
              <strong>¡Importante!</strong>
              Para poder realizar la solicitud, debe adjuntar los siguientes
              documentos:
              <ul>
                <li>Carta de invitación o aceptación</li>
                <li>Carta de compromiso</li>
                <li>Certificación bancaria</li>
                <li>Copia del documento de identidad</li>
              </ul>
              Y algun documento extra que considere necesario.
            </div>
            <div class="col-12 col-lg-7 mt-3">
              <div
                class="alert alert-danger"
                *ngIf="files.length > 0 && !validFileType()"
              >
                Ese tipo de archivo no es permitido.
              </div>
              <div
                class="alert-danger alert"
                *ngIf="files.length > 0 && !validSize()"
              >
                Los archivos no deben pesar más de 2 MB.
              </div>

              <div class="formfloatig" style="flex-direction: column">
                <div
                  *ngFor="
                    let producto of archivos;
                    last as isLast;
                    let i = index
                  "
                  class="arrayLike formfloatig d-flex justify-content-between"
                >
                  <div class="document_new">
                    <label class="btn-btn-default cursor is-hoverable">
                      <div class="fa fa-upload fa-2x"></div>
                      <input
                        [id]="i"
                        class="file-upload"
                        type="file"
                        (change)="onUpload($event, i)"
                      />
                      <label
                        [for]="i"
                        class="is-hoverable cursor link-success"
                        style="margin-left: 10px"
                        >{{ files[i] ? files[i].name : "Subir archivo" }}</label
                      >
                    </label>
                  </div>
                  <div class="buttons">
                    <button
                      class="btn btn-circle btn-remove btn-sm m-1"
                      type="button"
                      (click)="removeFile(i)"
                    >
                      <i class="fa fa-minus"></i>
                    </button>
                    <button
                      class="btn btn-circle btn-add btn-sm m-1"
                      type="button"
                      (click)="archivos.push(1)"
                      *ngIf="isLast && archivos.length < 5"
                    >
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion mt-3">
    <div class="accordion-item">
      <!-- header -->
      <h6 class="accordion-header" id="headingSix">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="false"
          aria-controls="collapseSix"
        >
          <span class="muted">
            <i
              class="fa fa-info-circle"
              title="A continuación llene los siguientes campos para cada dependencia donde desea realizar la solicitud"
            ></i>
            Apoyo solicitado
          </span>
        </button>
      </h6>
      <!-- content -->
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        aria-labelledby="headingSix"
      >
        <div class="accordion-body">
          <div class="alert alert-warning mt-3 col-12 col-lg-12">
            A continuación, seleccione la dependencia donde desea enviar la
            solicitud y llene los campos extras de ser necesario.
          </div>

          <div class="row regular-row mt-4 align-items-baseline">
            <div class="col-md-4 col-xs-12 col-sm-6 label">
              Apoyo solicitado a: <span style="color: red">*</span>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-8">
              <div class="formfloatig">
                <select
                  class="form-control form-select-lg cursor"
                  formControlName="support"
                >
                  <option value="0" disabled selected>
                    Elige la dependencia
                  </option>
                  <option *ngFor="let tipo of support">
                    {{ tipo.name }}
                  </option>
                </select>
                <!-- errors justification -->
                <div
                  *ngIf="
                    (submitted || f['support'].touched) && f['support'].errors
                  "
                  class="invalid"
                >
                  <div *ngIf="f['support'].errors['required']">
                    El campo es requerido
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<hr />
