.signature-container {
  border-style: dashed;
  border-width: 1px;
  margin-bottom: 20px;
  background-color: coral;
}

.buttons {
  float: right;
  button {
      margin-right: 10px;
      padding: 10px;
      background-color: dodgerblue;
      color: white;
      border-radius: 5px;
  }
}