<div class="form-group">
  <label for="signature">Signature</label>
    <div class="signature-pad">
      <div class="signature-pad--body">
        <canvas></canvas>
      </div>
      <div class="signature-pad--footer">
        <div class="description">Firma aquí</div>
        <div class="signature-pad--actions">
          <div>
            <button type="button" class="button clear" data-action="clear">Borrar</button>
          </div>
          <div>
            <button type="button" class="button save" data-action="save-svg">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>