<!-- Tabla de Aplicaciones -->
<div class="mt-4 text-end" *ngIf="from_full_time === true">
<table class="table mt-3"
*ngIf="from_full_time === true && applications && applications.length > 0 && full_time && full_time.length > 0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let application of applications; let i = index">
            <td>{{ application.id }}</td>
            <td>{{ full_time[i].full_time.title }}</td>
        </tr>
    </tbody>
</table>
</div>

<div class="row regular-row mt-4 align-items-baseline" *ngIf="from_full_time === false">
    <div class="alert alert-warning mt-3 mb-1">
        Por favor agregar el Título correspondiente para identificarla.
    </div>

    <!-- TÍTULO -->
    <div class="row regular-row mt-4 align-items-baseline">
        <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
            Título <span style="color: red">*</span>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-8">
            <div class="formfloatig" style="margin-left:10px;">
                <input id="title" formControlName="title" class="form-control"
                placeholder="Título de la dedicación" type="text" [ngClass]="{
                'is-invalid':
                 isInvalidForm('title')
                 }" />
            </div>
        <p *ngIf="isInvalidForm('title')" class="inputError">
          El título debe tener como mínimo 5 caracteres y máximo 100 caracteres</p>
      </div>
    </div>
  </div>
