<div [formGroup]="form">
  <h6 class="mt-3">
    <strong>Archivos adjuntos de la solicitud</strong>
  </h6>
  <hr style="margin-top: 0" />

  <div
    class="alert alert-danger"
    *ngIf="files.length > 0 && !validFileType()"
  >
    Ese tipo de archivo no es permitido.
  </div>

  <div class="alert alert-danger" *ngIf="files.length > 0 && !validSize()">
    Los archivos no deben pesar más de 6 MB.
  </div>

  <div class="formfloatig mb-3" style="flex-direction: column">
    <div
      *ngFor="let producto of document_new; last as isLast; let i = index"
      class="arrayLike formfloatig d-flex justify-content-between"
    >
      <div class="document_new"
           style="width: auto; margin-left: 10px">

        <label class="btn-btn-default cursor is-hoverable">
          <div class="fa fa-upload fa-2x"></div>

          <input
            [id]="i"
            class="file-upload"
            type="file"
            formControlName="document_new"
            (change)="onUpload($event, i)"
            (change)="onChanged()"
            (change)="EmitFiles()"
            />
          <label
            [for]="i"
            class="is-hoverable cursor link-success"
            style="margin-left: 10px"
            >{{ files[i]? files[i].name: "Subir archivos de la solicitud"}}
            </label>
        </label>
      </div>

      <div class="buttons">
        <button
          class="btn btn-circle btn-remove m-1"
          type="button"
          (click)="removeFile(i)"
        >
        <i class="fa fa-minus"></i>
          </button>

        <button
        class="btn btn-circle btn-add m-1"
        type="button"
        (click)="document_new.push(1)"
        *ngIf="isLast && document_new.length < 3"
      >
        <i class="fa fa-plus"></i>
      </button>

      </div>
    </div>
  </div>
</div>

<!-- <div [formGroup]="form">
  <h6 class="mt-3">
    <strong>Archivos adjuntos de la solicitud</strong>
  </h6>
  <hr style="margin-top: 0" />

  </div>

<h6 class="mt-3 text-center">
  <span class="text-muted">Archivos adjuntos a la solicitud</span>
</h6>
<div
  class="alert alert-danger"
  *ngIf="files.length > 0 && !validFileType()"
>
  Ese tipo de archivo no es permitido.
</div>
<div class="alert alert-danger" *ngIf="files.length > 0 && !validSize()">
  Los archivos no deben pesar más de 6 MB.
</div>
<div class="formfloatig" style="flex-direction: column">
  <div
    *ngFor="let producto of documents; last as isLast; let i = index"
    class="arrayLike formfloatig d-flex justify-content-between"
  >
    <div class="document_new" style="width: auto; margin-left: 10px">
      <label class="btn-btn-default cursor is-hoverable">
        <div class="fa fa-upload fa-2x"></div>
        <input
        formControlName="documents"
        (change)="onUpload($event, i)"
        (change)="onChanged()"
        (change)="EmitFiles()"
        [id]="i"
        class="file-upload"
        type="file"
        />
        <label [for]="i" class="is-hoverable cursor link-success" style="margin-left: 10px">{{
          files[i] ? files[i].name : "Subir archivo"
        }}</label>
      </label>
    </div>
    <div class="buttons">

      <button
        class="btn btn-circle btn-remove m-1"
        type="button"
        (click)="removeFile(i)"
      >
        <i class="fa fa-minus"></i>
      </button>
      
      <button
        class="btn btn-circle btn-add m-1"
        type="button"
        (click)="documents.push(1)"
        *ngIf="isLast && documents.length < 3"
      >
        <i class="fa fa-plus"></i>
      </button>

    </div>
  </div>
</div> -->


