<div class="container containerInside card shadow mt-5 bg-white rounded p-5 ">
    <div class="row header-row">
      <div class="col">
        <!-- <p class="ptitle">Mi perfil</p> -->
        <span class="text-secondary">PERFIL</span>
      </div>
    </div>
    <hr />
    <div>
    <div class="row regular-row">
      <div class="col-xs-12 col-sm-6 label fw-bold">Documento</div>
      <div class="col-xs-12 col-sm-6"> {{ user?.identification_type }}</div>
    </div>
  
    <div class="row regular-row">
      <div class="col-xs-12 col-sm-6 label fw-bold ">Identificación</div>
      <div class="col-sm-6 col-xs-12"> {{ user?.identification_number }}</div>
    </div>
  
    <div class="row regular-row">
      <div class="col-xs-12 col-sm-6 label fw-bold">Nombre</div>
      <div class="col-sm-6 col-xs-12"> {{ user?.names }}</div>
    </div>
  
    <div class="row regular-row">
      <div class="col-xs-12 col-sm-6 label fw-bold">Apellido</div>
      <div class="col-sm-6 col-xs-12"> {{ user?.last_names }}</div>
    </div>
  
   <div class="row regular-row">
      <div class="col-xs-12 col-sm-6 label fw-bold">Email</div>
      <div class="col-sm-6 col-xs-12"> {{user?.email }}</div>
    </div>
  
    <div class="row regular-row">
      <div class="col-xs-12 col-sm-6 label fw-bold ">Telefono</div>
      <div class="col-sm-6 col-xs-12">{{user?.phone}} </div>
    </div>
  
    <div class="row regular-row">
      <div class="col-xs-12 col-sm-6 label fw-bold ">Tipo de Vinculación</div>
      <div class="col-sm-6 col-xs-12">{{user?.vinculation_type}} </div>
    </div>
  
  
    <div class="row regular-row">
      <div class="col-xs-12 col-sm-6 label fw-bold ">Oficina</div>
      <div class="col-sm-6 col-xs-12">{{user?.office}} </div>
    </div>
  
    <div class="row regular-row">
      <div class="ccol-xs-12 col-sm-6 label fw-bold">Estado</div>
      <div class="col-sm-6 col-xs-12">{{ user?.active? 'Activo': 'Inactivo' }}</div>
    </div>
  
    <div class="row regular-row">
      <div class="col-xs-12 col-sm-6 label fw-bold ">Escalafón</div>
      <div class="col-sm-6 col-xs-12">{{user?.scale}} </div>
    </div>
  
    <div class="row regular-row">
      <div class="col-xs-12 col-sm-6 label fw-bold ">Rol</div>
      <div class="col-sm-6 col-xs-12">{{user?.rol?.name}} </div>
    </div>
  
  
    <div class="row regular-row">
      <div class="col-xs-12 col-sm-6 label fw-bold">Facultad</div>
      <div class="col-sm-6 col-xs-12">
          {{user?.department?.school?.name}}
      </div>
    </div>
  
    <div class="row regular-row">
      <div class="col-xs-12 col-sm-6 label fw-bold">Departamento</div>
      <div class="col-sm-6 col-xs-12"> {{user?.department?.name}}</div>
    </div>  
  </div>
  
    <hr />
    <div class="footer-row d-md-flex justify-content-md-end mb-3">
      <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
        <button
          *ngIf="id == 0"
          type="button"
          class="btn btn-green btn-outline-success btn-block"
          [routerLink]="['/usuarios/editar-contrasena']"
        >
          Modificar Contraseña
        </button>
      </div>
  
      <div 
        class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
        <button
          type="button"
          class="btn btn-submit"
          [routerLink]="['/usuarios/editar/'+ user?.id]"
        >
          Editar Información
        </button>
      </div>
    </div>
    <div class="row footer-row"></div>
  </div>
  