h5{
    padding: 0;
}
.informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.botones{
    margin-top: 10px;
}

.containerInside {
    margin-bottom: 10em;
    align-items: unset;
    min-height: 10vh;
    width: 70%;

  }

  .btn-warning {
    background-color: #f9a12c;
  }

  .btn-light {
    color: #fff;
    background-color: #43b649;
  }

  @media (max-width: 576px) {
    .containerInside {
        width: 95%;
    }
  }

  .mt-5{
    margin-top: 5em!important;
  }

