h5{
    padding: 0;
}
.informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.botones{
    margin-top: 10px;
}

.containerInside {
    margin-bottom: 10em;
    align-items: unset;
    min-height: 10vh;
    width: 70%;

  }

  .btn-warning {
    background-color: #f9a12c;
  }

  .btn-light {
    color: #fff;
    background-color: #43b649;
  }

  @media (max-width: 576px) {
    .containerInside {
        width: 95%;
    }
  }

  .mt-5{
    margin-top: 5em!important;
  }



.btn-submit {
    color: #fff;
    border-color: #fff;
    background: linear-gradient(
      90deg,
      rgba(67, 182, 73, 0.8) 0%,
      rgba(67, 182, 73, 0.9) 35%,
      rgba(141, 198, 63, 1) 100%
    );
  }.btn-submit:hover {
    transition: all 0.5s ease-out;
    background-color: rgba(67, 182, 73, 0.8) 0%,;
  }