<form
class="need-validation"
  need-validation
  novalidate
  [formGroup]="form"
  (ngSubmit)="submit()"
  >

  <!-- TYPE DAY VACATION -->
<div class="row">
  <div class="row">
    <div class="formfloatig">
      <select 
      formControlName="application_sub_type_id"
      class="form-control form-select-lg mb-3 cursor"
      (change)="onApplicationSubType($event)"
      [ngClass]="{
        'is-invalid':
        (submitted && f['application_sub_type_id'].errors)||
        isInvalidForm('application_sub_type_id')
      }"
      *ngIf="applicationType$ | async as applicationType"
      >
      <option value="0" disabled selected>Elige un tipo de días para Vacaciones</option>
      <option 
      [ngValue]="tipo.id | number"
      *ngFor="let tipo of applicationType.application_sub_type"
      >
      {{tipo.name}}
    </option>
    </select>

    <div
          *ngIf="isInvalidForm('application_sub_type_id')"
          class="invalid-feedback"
        >
          <!-- <div *ngIf="f['application_sub_type_id'].errors['required']">
              Elige un tipo de comisión
            </div> -->
        </div>

    </div>
  </div>
</div>

<div class="row regular-row mt-4 align-items-baseline">
  <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Número de días *</div>
  <div class="col-sm-12 col-xs-12 col-md-8">
    <div class="formfloatig">
      <input
        id="floatingidioma"
        formControlName="days"
        class="form-control"
        type="Numero de días"
        placeholder=" "
        [ngClass]="{
          'is-invalid':
            (submitted && f['days'].errors) || isInvalidForm('lenguage')
        }"
      />
    </div>
  </div>
</div>
<div class="row regular-row mt-4 align-items-baseline">
<app-signature></app-signature>

</div>



</form>