<form
class="need-validation"
  need-validation
  novalidate
  [formGroup]="form"
  (ngSubmit)="submit()"
  >

  <!-- TYPE DAY VACATION -->
<div class="row">
  <div class="row">
    <div class="formfloatig">
      <select 
      formControlName=""
      class="form-control form-select-lg mb-3 cursor"
      (change)="onChangeSolicitud($event)"></select>

    </div>
  </div>
</div>

<div class="row regular-row mt-4 align-items-baseline">
  <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Número de días *</div>
  <div class="col-sm-12 col-xs-12 col-md-8">
    <div class="formfloatig">
      <input
        id="floatingidioma"
        formControlName="days"
        class="form-control"
        type="Numero de días"
        placeholder=" "
        [ngClass]="{
          'is-invalid':
            (submitted && f['days'].errors) || isInvalidForm('lenguage')
        }"
      />
    </div>
  </div>
</div>



</form>