<!-- ALERT BOX -->
<div class="alert alert-warning mt-3 mb-0">
  Tu dedicación exclusiva está <strong>en creación</strong>. Para solicitarla debes diligenciar 
  los 3 formatos y dar clic en actualizar.
</div>


<!-- CARTA -->
<div class="row regular-row mt-4 align-items-baseline">
  <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Carta de Inicio *</div>
  <div class="col-sm-12 col-xs-12 col-md-8">
    <div class="formfloatig">
      <button class="btn btn-outline-success"
      [routerLink]=""
      >Carta de Inicio</button>
    </div>
    <!-- errors -->
    <div *ngIf="submitted && isInvalidForm()" class="invalid">
      Debes diligenciar la carta de inicio
    </div>
  </div>
</div>

<div class="row regular-row mt-4 align-items-baseline">
  <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Formato de vicerrectoría *</div>
  <div class="col-sm-12 col-xs-12 col-md-8">
    <div class="formfloatig">
      <button class="btn btn-outline-success"
      [routerLink]="['/solicitudes/crear/formatovice/:id']">Formato de vicerrectoría</button>
    </div>
    <!-- errors -->
    <div *ngIf="submitted && isInvalidForm()" class="invalid">
      Debes diligenciar el formato de vicerrectoría
    </div>
  </div>
</div>

<div class="row regular-row mt-4 align-items-baseline">
  <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Plan de trabajo *</div>
  <div class="col-sm-12 col-xs-12 col-md-8">
    <div class="formfloatig">
      <button class="btn btn-outline-success">Plan de trabajo</button>
    </div>
    <!-- errors -->
    <div *ngIf="submitted && isInvalidForm()" class="invalid">
      Debes diligenciar el plan de trabajo
    </div>
  </div>
</div>
