.content {
    margin-left: 100px;
    transition: 0.3s;
    &.sidebarExpanded {
      margin-left: 160px;
    }
  }

app-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.loggin {
  margin-top: 10px; 
  z-index: -100;
}
