<div *ngIf="economic_support">
  <div class="row regular-row mt-2">
    <div class="col-xs-12 col-sm-6 label fw-bold">
      Estado actual de la solicitud
    </div>
    <div class="col-xs-12 col-sm-6">
      <span
        class="badge badge-pill pill"
        [ngClass]="{
          'bg-requested': current_status === 'SOLICITADA',
          'bg-ok': current_status === 'VISTO BUENO',
          'bg-approved': current_status === 'APROBADA',
          'bg-rejected': current_status === 'RECHAZADA'
        }"
      >
        {{ current_status }}
      </span>
    </div>
  </div>

  <hr class="mt-4" />

  <div class="row">
    <span class="fw-bold">Dependecias</span>
  </div>

  <div class="row regular-row mt-2">
    <div class="col-xs-12 col-sm-6 label text-secondary">
      Dependecias donde realizó la solicitud
    </div>
    <div class="col-xs-12 col-sm-6">
      <ul>
        <li *ngFor="let dependecies of economic_support.dependence">
          {{ dependecies.name }}
        </li>
      </ul>
    </div>
  </div>

  <hr class="mt-4" />

  <div class="row">
    <span class="fw-bold">Información general</span>
  </div>

  <div class="row regular-row mt-2">
    <div class="col-xs-12 col-sm-6 label text-secondary">Tipo de solicitud</div>
    <div class="col-xs-12 col-sm-6">
      {{ economic_support.application_data.application_type }}
    </div>
  </div>

  <div class="row regular-row mt-2">
    <div class="col-xs-12 col-sm-6 label text-secondary">Proyecto</div>
    <div class="col-xs-12 col-sm-6">
      {{ economic_support.application_data.project }}
    </div>
  </div>

  <div class="row regular-row mt-2">
    <div class="col-xs-12 col-sm-6 label text-secondary">Objetivo</div>
    <div class="col-xs-12 col-sm-6">
      {{ economic_support.application_data.goal }}
    </div>
  </div>

  <div class="row mt-2">
    <span class="fw-bold">Información del Solicitante</span>
  </div>

  <div class="row regular-row mt-2">
    <div class="col-xs-12 col-sm-6 label text-secondary">Solicitud Para</div>
    <div class="col-xs-12 col-sm-6">
      {{ economic_support.personal_data.application_for }}
    </div>
  </div>

  <div class="row regular-row mt-2">
    <div class="col-xs-12 col-sm-6 label text-secondary">
      Nombre y Apellidos
    </div>
    <div class="col-xs-12 col-sm-6">
      {{ economic_support.personal_data.name }}
    </div>
  </div>

  <div class="row regular-row mt-2">
    <div class="col-xs-12 col-sm-6 label text-secondary">
      Numero Indentificación
    </div>
    <div class="col-xs-12 col-sm-6">
      {{ economic_support.personal_data.identification_number }}
    </div>
  </div>

  <div class="row regular-row mt-2">
    <div class="col-xs-12 col-sm-6 label text-secondary">
      Correo Electrónico
    </div>
    <div class="col-xs-12 col-sm-6">
      {{ economic_support.personal_data.email }}
    </div>
  </div>

  <hr class="mt-4" />

  <div class="row">
    <span class="fw-bold">Monto</span>
  </div>

  <div class="row regular-row mt-2">
    <div class="col-xs-12 col-sm-6 label text-secondary">Monto Solicitado</div>
    <div class="col-xs-12 col-sm-6">
      ${{ economic_support.payment.value }} Pesos Colombianos
    </div>
  </div>

  <div class="row regular-row mt-2" 
      *ngIf="
            current_status == 'APROBADA' ||
            userRol === 'Decano' || 
            userRol === 'Director'"
            >
    <div class="col-xs-12 col-sm-6 label text-secondary">Monto Aprobado</div>
    <div class="col-xs-12 col-sm-6">
      ${{ amount_approved }} Pesos Colombianos
    </div>
  </div>

  <ng-container *ngIf="{ isSuperUser: isSuperUser$ | async } as context">
    <div *ngIf="userRol === 'Coordinador'">
      <div *ngIf="context.isSuperUser && current_status != 'APROBADA'">
        <hr class="mt-4" />
        <form [formGroup]="form" (submit)="submit()">
          <div class="row regular-row mt-4 align-items-baseline">
            <div
              class="col-xs-12 col-sm-12 col-md-3 col-lg-2 label text-secondary"
            >
              Monto a Aprobar
            </div>
            <div class="col-xs-12 col-sm-12 col-xs-12 col-12 col-lg-4">
              <input
                type="number"
                class="form-control"
                formControlName="amount_approved"
                placeholder="Ingresa el monto aprobado"
              />
            </div>
            <div
              class="d-grid gap-2 col-sm-12 col-md-2 col-lg-2 col-xl-3 col-lg-3 p-2"
            >
              <button class="btn btn-danger" type="button" (click)="decline()">
                Rechazar
              </button>
            </div>
            <div
              class="d-grid gap-2 col-sm-12 col-md-2 col-lg-2 col-xl-3 col-lg-3 p-2"
            >
              <button type="submit" class="btn btn-add">Aprobar</button>
            </div>
          </div>
        </form>
      </div>
      <ng-container>
        <hr class="mt-4" />
        <table class="table">
          <tr>
            <th class="col-xs-12 col-sm-6 label text-secondary">
              Monto aprobado por su dependencia
            </th>
            <th class="col-xs-12 col-sm-6 label text-secondary" scope="col">
              Estado de la solicitud en su dependencia
            </th>
          </tr>
          <tr>
            <td scope="row">
              ${{ userApplication?.amount }} Pesos Colombianos
            </td>
            <td>{{ userApplication?.response | userApplicationStatus }}</td>
          </tr>
        </table>
      </ng-container>
    </div>

    <div *ngIf="userRol === 'Decano' || userRol === 'Director'">
      <hr class="mt-4" />
      <table class="table">
        <thead>
          <tr>
            <th class="col-xs-12 col-sm-6 label" scope="col">
              Dependecia<span class="text-secondary">(nombre coordinador)</span>
            </th>
            <th class="col-xs-12 col-sm-6 label" scope="col">Monto</th>
            <th class="col-xs-12 col-sm-6 label" scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dependence of dependecies">
            <td>{{ dependence.transformedUserId }}</td>
            <td>${{ dependence.amount }} Pesos Colombianos</td>
            <td>{{ dependence.response | userApplicationStatus }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>

  <hr class="mt-4" />

  <div class="row regular-row mt-2">
    <div class="col-xs-12 col-sm-6 label fw-bold">Documentos</div>
    <div class="col-xs-12 col-sm-6">
      <ul>
        <li *ngFor="let doc of economic_support.documents">
          <span class="link-success cursor" (click)="openDocument(doc.path)"
            >{{ doc.name }}&nbsp;&nbsp;</span
          >&nbsp;
        </li>
      </ul>
    </div>
  </div>
</div>
