.btn-add {
  border-color: #fff;
  color: #fff;
  background-color: #43b649;
}
.btn-add:hover {
  background-color: #79b97c;
}

.btn-download{
  border-color: #fff;
  color: #fff;
  background-color: #43b649;
}

