.containerInside {
    margin-bottom: 10em;
    align-items: unset;
    min-height: 50vh;
}

.btn-warning {
    background-color: #f9a12c;
}


.btn-compliment {
    color: #fff;
    background-color: #04351f;
}

.btn-compliment:hover {
    color: #fff;
    background-color: #04351fe2;
}

.btn-light {
    color: #43b649;
    background-color: #fff;
}


  
.btn-add {
    border-color: #fff;
    color: #fff;
    background-color: #43b649;
  }
  
  .btn-add:hover {
    background-color: #79b97c;
  }
  
  .btn-success {
    background-color: #43b649;
  }


@media screen and (max-width: 576px) {
    .containerInside {
        width: 95% !important;

    }
}

.link-success {
    text-decoration: underline;
    cursor: pointer;
}


.btn-status {
    color: #fff;
    border-color: #fff;
    background: linear-gradient(
      90deg,
      rgba(67, 182, 73, 0.8) 0%,
      rgba(67, 182, 73, 0.9) 35%,
      rgba(141, 198, 63, 1) 100%
    );
  }.btn-status:hover {
    color: #fff;
    background-color:#04351f;
  }

