<div class="containerInside container card shadow mt-5 bg-white rounded p-5" *ngIf="{isSuperUser: isSuperUser$ | async} as context">
  <div class="row header-row">
    <div class="col">
      <span class="text-secondary">{{ title | uppercase }}</span>
    </div>
  </div>

  <hr />
  <div *ngIf="application$ | async as application">
    <div class="row regular-row mt-2">
      <div class="col-xs-12 col-sm-6 label fw-bold">Solicitante</div>
      <div class="col-xs-12 col-sm-6">
        {{
          application.user.names + " " + application.user.last_names | titlecase
        }}
      </div>
    </div>

    <div class="row regular-row mt-2">
      <div class="col-xs-12 col-sm-6 label fw-bold">Tipo de {{ title }}</div>
      <div class="col-xs-12 col-sm-6">
        {{ application.application_sub_type.name }}
      </div>
    </div>

    <div class="row regular-row mt-2">
      <div class="col-xs-12 col-sm-6 label fw-bold">Fecha de Creación</div>
      <div class="col-xs-12 col-sm-6">
        {{ application.created_at | date : "fullDate" }}
      </div>
    </div>
  </div>

  <hr />
  <router-outlet (activate)="onActivate($event)"></router-outlet>

  <button
    type="button"
    class="btn btn-status btn-block col-12 mt-3"
    (click)="historyStatus = !historyStatus"
  >
    Ver Historial de estados
  </button>
  <div *ngIf="application$ | async as application">
    <div class="row regular-row">
      <app-status-history
        *ngIf="historyStatus"
        [status]="application.application_status"
      ></app-status-history>
    </div>
  </div>

  <div class="row header-row mt-3">
    <div class="col">
      <span class="text-secondary">ACCIONES</span>
    </div>
  </div>
  <hr />

  <div class="status-control" *ngIf="context.isSuperUser">
    <form [formGroup]="form" (submit)="submit()">
      <div class="row regular-row mt-4 align-items-baseline">
        <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Observación *</div>
        <div class="col-sm-12 col-xs-12 col-md-8">
          <div class="formfloatig">
            <textarea
              id="floatingjustificacion"
              formControlName="observation"
              class="form-control"
              type="justificacion"
              placeholder=" "
              rows="5"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="footer-row d-md-flex justify-content-md-end">
        <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="cancel()"
          >
            Cancelar
          </button>
        </div>
        <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-3 p-2">
          <button class="btn btn-danger" type="button" (click)="decline()">
            <span
              *ngIf="isLoading | async"
              class="spinner-border spinner-border-sm"
            ></span
            >Rechazar
          </button>
        </div>

        <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-3 p-2">
          <button type="submit" class="btn btn-status"><span
            *ngIf="isLoading | async"
            class="spinner-border spinner-border-sm"
          ></span>Aprobar</button>
        </div>
      </div>
    </form>
  </div>

  <div class="user-control" *ngIf="!context.isSuperUser">
    <div
      class="footer-row d-md-flex justify-content-md-end"
      *ngIf="application$ | async as application"
    >
    <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="cancel()"
      >
        Cancelar
      </button>
    </div>
      <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-3 p-2">
        <button
          class="btn btn-outline-danger"
          (submit)="(true)"
          type="submit"
          (click)="delete()"
        >
          <span
            *ngIf="(isLoading | async) && isDelete"
            class="spinner-border spinner-border-sm"
          ></span>
          Eliminar
        </button>
      </div>
      <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-3 p-2">
        <button
          class="btn btn-warning"
          routerLink="/solicitudes/editar/{{ id }}/{{
            application.application_sub_type.application_type.description
          }}"
        >
          Editar
        </button>
      </div>
    </div>
  </div>
</div>
