.buttons {
  width: fit-content;
  margin: 0;
}

.btn-remove {
  background-color: red;
  border-color: #fff;
  color: #fff;
}

.btn-remove:hover {
  background-color: #d45f57;
}


.btn-add {
  border-color: #fff;
  color: #fff;
  background-color: #43b649;
}

.btn-add:hover {
  background-color: #79b97c;
} 