<form>
  <div class="accordion mt-2">
    <div class="accordion-item">
      <!-- header -->
      <h6 class="accordion-header" id="headingSix">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="false"
          aria-controls="collapseSix"
        >
          <span class="muted">
            <i
              class="fa fa-info-circle"
              title="selecciona la(s) dependendias en las que desea solicitar el apoyo económico"
            ></i>
            Dependencia donde desea realizar la solicitud
          </span>
        </button>
      </h6>

      <!-- content -->
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        aria-labelledby="headingSix"
      >
        <div class="accordion-body">
          <div class="arrayLike formfloatig justify-content-center">
            <div class="row activity_form">
              <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12 col-12 label mb-2">
                  <span class=""
                    >Dependencia donde desea realizar la solicitud
                    <span style="color: red">*</span></span
                  >
                </div>
                <ng-container *ngFor="let dependencies of SUBTYPES">
                  <div class="col-sm-12 col-xs-12 col-md-8">
                    <label>
                      <input
                        type="checkbox"
                        [value]="dependencies.id"
                        (change)="onCheckboxChange($event, dependencies)"
                      />
                      {{ dependencies.name }}
                    </label>
                  </div>
                </ng-container>
              </div>

              <hr class="mt-2" />
              <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
                  <span>Grupo de Investigación</span>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-8 col-12">
                  <div class="formfloatig">
                    <select 
                      class="form-control form-select-lg cursor"
                      (change)="onSelectDependencie($event)"
                      >
                      <option value="" selected disabled>
                        Selecciona el grupo de Investigación
                      </option>
                      <option value="Ninguno">
                        Ninguno
                      </option>
                      <option
                        *ngFor="let investigation of researchGroup"
                        [value]="investigation.name"
                      >
                        {{ investigation.name | uppercase }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
