<form>
  <div class="accordion mt-2">
    <div class="accordion-item">
      <!-- header -->
      <h6 class="accordion-header" id="headingFive">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          <span class="muted">
            <i
              class="fa fa-info-circle"
              title="A continuación ingrese los ducumentos necesarios para la solicitud."
            ></i>
            Documentos
          </span>
        </button>
      </h6>

      <!-- content -->
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        aria-labelledby="headingFive"
      >
        <div class="accordion-body">
          <div class="row">
            <div class="alert alert-warning mt-3 col-12 col-lg-5">
              <strong>¡Importante!</strong>
              Para poder realizar la solicitud, debe adjuntar los siguientes
              documentos:
              <ul>
                <li>Carta de invitación o aceptación</li>
                <li>
                  Afiliación a SALUD bien sea como beneficiario, cotizante o
                  SISBEN
                </li>
                <li>Certificación bancaria</li>
                <li>Copia del documento de identidad</li>
                <li>Poliza estudiantial</li>
                <li>
                  ARL <strong>NOTA:</strong> todos los estudiantes deben estar
                  afiliados por el respectivo Instituto a la ARL
                </li>
              </ul>
            </div>
            <div class="col-12 col-lg-7 mt-3">
              <div class="formfloatig" style="flex-direction: column">
                <div class="alert alert-danger" *ngIf="!validFileType()">
                  Ese tipo de archivo no es permitido.
                </div>
                <div class="alert-danger alert" *ngIf="!validSize()">
                  Los archivos no deben pesar más de 6 MB.
                </div>
                <!-- Carta de invitación -->
                <div
                  class="arrayLike formfloatig d-flex justify-content-between mt-2"
                >
                  <div class="document_new">
                    <label class="btn-btn-default cursor is-hoverable">
                      <div class="fa fa-upload fa-2x"></div>
                      <input
                        [id]="0"
                        class="file-upload"
                        type="file"
                        (change)="onUpload($event, 0)"
                      />
                      <label
                        [for]="0"
                        class="is-hoverable cursor link-success"
                        style="margin-left: 10px"
                        >{{
                          files[0] ? files[0].name : "Subir carta de invitación"
                        }}</label
                      >
                    </label>
                  </div>
                  <div class="buttons">
                    <button
                      class="btn btn-circle btn-remove btn-sm m-1"
                      type="button"
                      (click)="removeFile(0)"
                    >
                      <i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>
                <!-- AFILIACION A SALUD -->
                <div
                  class="arrayLike formfloatig d-flex justify-content-between mt-2"
                >
                  <div class="document_new">
                    <label class="btn-btn-default cursor is-hoverable">
                      <div class="fa fa-upload fa-2x"></div>
                      <input
                        [id]="1"
                        class="file-upload"
                        type="file"
                        (change)="onUpload($event, 1)"
                      />
                      <label
                        [for]="1"
                        class="is-hoverable cursor link-success"
                        style="margin-left: 10px"
                        >{{
                          files[1] ? files[1].name : "Subir afiliación a salud"
                        }}</label
                      >
                    </label>
                  </div>
                  <div class="buttons">
                    <button
                      class="btn btn-circle btn-remove btn-sm m-1"
                      type="button"
                      (click)="removeFile(1)"
                    >
                      <i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>
                <!-- Certificación bancaria -->
                <div
                  class="arrayLike formfloatig d-flex justify-content-between mt-2"
                >
                  <div class="document_new">
                    <label class="btn-btn-default cursor is-hoverable">
                      <div class="fa fa-upload fa-2x"></div>
                      <input
                        [id]="2"
                        class="file-upload"
                        type="file"
                        (change)="onUpload($event, 2)"
                      />
                      <label
                        [for]="2"
                        class="is-hoverable cursor link-success"
                        style="margin-left: 10px"
                        >{{
                          files[2]
                            ? files[2].name
                            : "Subir certificación bancaria"
                        }}</label
                      >
                    </label>
                  </div>
                  <div class="buttons">
                    <button
                      class="btn btn-circle btn-remove btn-sm m-1"
                      type="button"
                      (click)="removeFile(2)"
                    >
                      <i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>

                <!-- Copia del documento de identidad -->
                <div
                  class="arrayLike formfloatig d-flex justify-content-between mt-2"
                >
                  <div class="document_new">
                    <label class="btn-btn-default cursor is-hoverable">
                      <div class="fa fa-upload fa-2x"></div>
                      <input
                        [id]="3"
                        class="file-upload"
                        type="file"
                        (change)="onUpload($event, 3)"
                      />
                      <label
                        [for]="3"
                        class="is-hoverable cursor link-success"
                        style="margin-left: 10px"
                        >{{
                          files[3]
                            ? files[3].name
                            : "Subir documento de identidad"
                        }}</label
                      >
                    </label>
                  </div>
                  <div class="buttons">
                    <button
                      class="btn btn-circle btn-remove btn-sm m-1"
                      type="button"
                      (click)="removeFile(3)"
                    >
                      <i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>

                <!-- poliza estudiantial -->
                <div
                  class="arrayLike formfloatig d-flex justify-content-between mt-2"
                >
                  <div class="document_new">
                    <label class="btn-btn-default cursor is-hoverable">
                      <div class="fa fa-upload fa-2x"></div>
                      <input
                        [id]="4"
                        class="file-upload"
                        type="file"
                        (change)="onUpload($event, 4)"
                      />
                      <label
                        [for]="4"
                        class="is-hoverable cursor link-success"
                        style="margin-left: 10px"
                        >{{
                          files[4] ? files[4].name : "Subir poliza estudiantial"
                        }}</label
                      >
                    </label>
                  </div>
                  <div class="buttons">
                    <button
                      class="btn btn-circle btn-remove btn-sm m-1"
                      type="button"
                      (click)="removeFile(4)"
                    >
                      <i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>

                <!-- ARL -->
                <div
                  class="arrayLike formfloatig d-flex justify-content-between mt-2"
                >
                  <div class="document_new">
                    <label class="btn-btn-default cursor is-hoverable">
                      <div class="fa fa-upload fa-2x"></div>
                      <input
                        [id]="5"
                        class="file-upload"
                        type="file"
                        (change)="onUpload($event, 5)"
                      />
                      <label
                        [for]="5"
                        class="is-hoverable cursor link-success"
                        style="margin-left: 10px"
                        >{{ files[5] ? files[5].name : "Subir ARL" }}</label
                      >
                    </label>
                  </div>
                  <div class="buttons">
                    <button
                      class="btn btn-circle btn-remove btn-sm m-1"
                      type="button"
                      (click)="removeFile(5)"
                    >
                      <i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>

                <!-- CONSTANCIA DE MATRICULA -->
                <div
                  class="arrayLike formfloatig d-flex justify-content-between mt-2"
                >
                  <div class="document_new">
                    <label class="btn-btn-default cursor is-hoverable">
                      <div class="fa fa-upload fa-2x"></div>
                      <input
                        [id]="6"
                        class="file-upload"
                        type="file"
                        (change)="onUpload($event, 6)"
                      />
                      <label
                        [for]="6"
                        class="is-hoverable cursor link-success"
                        style="margin-left: 10px"
                        >{{ files[6] ? files[6].name : "Subir constancia de matrícula" }}</label
                      >
                    </label>
                  </div>
                  <div class="buttons">
                    <button
                      class="btn btn-circle btn-remove btn-sm m-1"
                      type="button"
                      (click)="removeFile(6)"
                    >
                      <i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
