<form [formGroup]="form" (ngSubmit)="submit()">
      
      <div class="row regular-row mt-4">
        <div class="col-md-4 col-xs-12 col-sm-6 label mb-2 mt-4">Destinatarios</div>
        <div class="col-sm-12 col-xs-12 col-md-8">
          <div class="form-check mb-3" 
          *ngFor="let correo of correosPredeterminados; let i=index">
          <input class="form-check-input" 
          type="checkbox" 
          formArrayName="emails"
          [value]="correo.value" (change)="onCheckboxChange($event)" 
          />
          <label class="form-check-label"> {{ correo.nombre }} </label>
          </div>
        </div>
      </div>
  
      <div class="row regular-row mt-4">
        <div class="col-md-4 col-xs-12 col-sm-6 label mb-2 mt-4">Otros Destinatarios</div>
        <div class="col-sm-12 col-xs-12 col-md-8">
          <div class="form-group">
            <textarea
              class="form-control"
              rows="5"
              placeholder="Correos separados por comas: ejem@udea.edu.co, ejem2@udea.edu.co"
              formControlName="others"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="row regular-row mt-4">
        <div class="col-md-4 col-xs-12 col-sm-6 label mb-2 mt-4">Información Complementaria</div>
        <div class="col-sm-12 col-xs-12 col-md-8">
          <div class="form-group">
            <textarea
              class="form-control"
              rows="10"
              formControlName="observation"
              placeholder="Incluya aquí otra información complementaria que pueda ser de importancia para los destinatarios del cumplido. Así por ejemplo, si el cumplido esta relacionado con un Proyecto de Investigación y desea enviarlo a la dependencia que otorgo recursos relacionados, indique el nombre del Proyecto."
            ></textarea>
          </div>
        </div>
      </div>


      <!-- ARCHIVOS - DOCUMENTOS -->
      <h6 class="mt-3">
          <span class="text-muted">Archivo de cumplido</span>
      </h6>
      <div class="alert alert-danger" *ngIf="files.length > 0 && !validFileType()">
        Ese tipo de archivo no es permitido.
      </div>
      <div class="alert-danger alert" *ngIf="files.length>0 && !validSize()">
              Los archivos no deben pesar más de 2 MB.
      </div>

      <div class="formfloatig" style="display: flex; flex-direction: column;">
          <div *ngFor="let producto of archivos; last as isLast; let i=index"
              class="arrayLike formfloatig d-flex justify-content-between">
              <div class="archivos" style="width:auto; margin-left: 10px;">
                  <label class="btn-btn-default">
                      <div class="fa fa-upload fa-2x "></div>
                      <input [id]="i" class="file-upload" type="file" (change)='onUpload($event,i)'/>
                      <label [for]="i"  style="margin-left: 10px;">{{files[i] ? files[i].name : 'Subir archivo' }}</label>
                  </label>

              </div>
              <div class="buttons" style="width:fit-content; margin: 0;">
                  <button class="btn btn-circle btn-remove m-1" type="button" (click)="removeFile(i)"
                      ><i class="fa fa-minus"></i>
                  </button>
                  <button class="btn btn-circle btn-add m-1" type="button"
                      (click)="archivos.push(1)" *ngIf="isLast && archivos.length<3">
                      <i class="fa fa-plus"></i>
                  </button>
              </div>
          </div>
      </div>

      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
        {{ error }}
      </div>
    </form>