{% extends "letter.base.html.j2" %}
{% block content %}

<div>
    <header>
        <div>
            <img src="{{image}}" class="logo">
            <br>
            <p style="margin: 2em;">
                Medellín, {{date}}
            </p>
        </div>
        <p style="margin: 2em;">
            Señor(a):
        </p>
        <p style="margin: 2em;">
            {{(user.names + ' ' + user.last_names).title()}}
            <br>
            <strong>C.C.: {{user.identification_number}}</strong>
        </p>

    </header>
    <section class="section">
        <p class="text-justify">
            El(La) Decano(a) de la {{school.description.lower()}}, en uso de sus facultades
            legales y estatutarias y en especial las conferidas por el literal ñ, artículo 53 del Acuerdo
            Superior 1 de 1994; y los artículos 106 y 107 del Acuerdo Superior 083 del 22 de julio
            de 1996 (modificado por el Acuerdo Superior 441 del 28 de marzo de 2017) y
            1. Que el artículo 53, literal ñ del Acuerdo Superior 1 de 1994, estipula que entre las
            funciones del Decano de la Facultad, está la de “Autorizar permisos hasta por tres días y
            hasta por dos veces al año, y conceder comisiones y licencias hasta por treinta días”
            2. Que el(la) Decano(a) de la Facultad, una vez revisada la solicitud.
        </p>
        <br>
        <p class="text-center"><strong>RESUELVE</strong></p>

        <p class="text-justify">
            ARTÍCULO UNICO: Conceder al (a la) señor(a) {{(user.names + ' ' + user.last_names).title()}}, con
            {{user.identification_type}} número {{user.identification_number}}, adscrito al (a la) {{user.department.description}}, permiso de {{application.application_sub_type.name}} desde {{permission.start_date}} hasta
            {{permission.end_date}}, para atender asuntos personales.
        </p>
        <br>
        <br>
        <div class="signature">
            <img src="{{signature}}" class="signature">
            <hr style="width:50%;text-align:left;margin-left:0">
            <p>
                {{school.dean.title()}}
                <br>
                Decano(a) 
            </p>
        </div>
    </section>
</div>

<div class="footer" style="color:#026937;">
    <div class="text-center">
        <h6>
            DECANATO
            <br>
            {{school.direction}}
            <br>
            Contacto: {{school.contact}}
            <br>
            Medellín, Colombia
        </h6>
    </div>
</div>

{% endblock %}