<div class="card">
    <div class="card-body">
        <form [formGroup]="user" class="mb-2 p-3" (submit)="userSubmit()">
            <div class="row">
                <div class="formfloatig col">
                    <input id="usuario" class="form-control" type="text" placeholder="Correo participante"
                        formControlName="email">

                </div>
                <div class="col">
                    <button class="btn btn-warning" type="submit" [disabled]="user.invalid" (submit)="(true)">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <div *ngIf="userBypass">
            <div class="card md-2">
                <div class="card-body">
                    <div class="text-center">
                        <span class="user-pic">
                            <i class="fa-solid fa-user-circle fa-2xl"></i>
                        </span>
                    </div>
                    <div class="card-text text-center">
                        {{userBypass.email.toLowerCase()}} <br>
                        {{userBypass.names + ' '+ userBypass.last_names}}
                    </div>
                </div>

            </div>
            <form class="p-3" [formGroup]="role" (submit)="submit()">
                <div class="row">
                    <div class="formfloatig col">
                        <input id="rol" class="form-control" type="text" formControlName="role"
                            placeholder="Rol ejm: Co-investigador, Investigador principal">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="text-end m-2">
        <button type="button" class="btn btn-outline-secondary" (click)="cancel()">
            Cancelar
        </button>
        <button [disabled]="user.invalid || role.invalid" class="btn btn-success" (submit)="false" type="submit"
            (click)="submit()">Agregar</button>
    </div>

</div>