<div *ngIf="full_time">

  <div class="row regular-row mt-2">
    <div class="col-xs-12 col-sm-6 label fw-bold">Día que Inicia</div>

    <div class="col-xs-12 col-sm-6">
      {{ full_time.start_date | date : "fullDate" }}
    </div>
  </div>

  <div class="row regular-row mt-2">
    <div class="col-xs-12 col-sm-6 label fw-bold">Día que Termina</div>
    <div class="col-xs-12 col-sm-6">
      {{ full_time.end_date | date : "fullDate" }}
    </div>
  </div>

  <div class="row regular-row mt-2">
    <div class="col-xs-12 col-sm-6 label fw-bold">Titulo</div>
    <div class="col-xs-12 col-sm-6">
      {{ full_time.title }}
    </div>
  </div>

 
  
  <div class="row regular-row mt-2">
    <div class="col-xs-12 col-sm-6 label fw-bold">
      Estado actual de la dedicación
    </div>
    <div class="col-xs-12 col-sm-6">
      <span
        class="badge badge-pill pill"
        [ngClass]="{
          'bg-creation': current_status === 'EN CREACIÓN',
          'bg-requested': current_status === 'SOLICITADA',
          'bg-ok': current_status === 'VISTO BUENO',
          'bg-consejo': current_status === 'EN CONSEJO',
          'bg-approved': current_status === 'APROBADA',
          'bg-rejected': current_status === 'DEVUELTA'
        }"
      >
        {{ current_status }}
      </span>
    </div>
  </div>

  <div class="row regular-row mt-2">
    <div class="col-xs-12 col-sm-6 label fw-bold">Documentos</div>
    <div class="col-xs-12 col-sm-6">
      <ul>
        <li *ngFor="let doc of full_time!.documents">
          <span class="link-success cursor" (click)="openDocument(doc.path)"
            >{{ doc.name }}&nbsp;&nbsp;</span
          >&nbsp;
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="{ isSuperUser: isSuperUser$ | async } as context">
    <span *ngIf="context.isSuperUser">
      <b>Importante:</b> Recuerde que estos documentos deben ser subidos a
      <a href="https://ssofi.udea.edu.co/fcen/" target="_blank">ssofi</a> para que
      la solicitud sea aprobada por el consejo</span
    >
  </div>

</div>
