<div class="modal-body">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Estado</th>
          <th scope="col">Fecha de Actualización</th>
          <th scope="col">Observación</th>
        </tr>
      </thead>
      <tbody *ngIf="status">
        <tr *ngFor="let estado of status">
          <th>
            <span
              class="badge badge-pill pill"
              [ngClass]="{
                'bg-requested': estado.status.name === 'SOLICITADA',
                'bg-in-creation': estado.status.name === 'EN CREACIÓN',
                'bg-ok': estado.status.name === 'VISTO BUENO',
                'bg-approved': estado.status.name === 'APROBADA',
                'bg-rejected': estado.status.name === 'RECHAZADA',
                'bg-ended': estado.status.name === 'FINALIZADA'
              }"
              >{{ estado.status.name }}</span
            >
          </th>

          <td>{{ estado.created_at | date: "fullDate" }}</td>
          <td>{{ estado.observation }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
