<form
  need-validation
  novalidate
  [formGroup]="createUserForm"
  (ngSubmit)="onSubmit()"
  class="containerInside container card shadow mt-5 bg-white rounded"
>
  <div class="p-4">
    <div class="card-body">
      <div class="row header-row P-2">
        <div class="col">
          <span class="text-secondary">REGISTRATE</span>
        </div>
      </div>
      <hr />
      <div class="alert alert-warning">
        <strong>¡Importante!</strong> Antes de enviar, verifica que la
        información se ingresó correctamente.
      </div>
      <div class="form">
        <!-- apellidos -->
        <div class="row regular-row mt-4">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Apellidos</div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <input
              id="last_names"
              type="text"
              class="form-control"
              placeholder=" "
              formControlName="last_names"
              [ngClass]="{
                'is-invalid': f['last_names'].errors && f['last_names'].touched
              }"
            />
          </div>
        </div>

        <!-- nombre -->
        <div class="row regular-row mt-4">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Nombre</div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <input
              id="names"
              type="text"
              class="form-control"
              placeholder=" "
              formControlName="names"
              [ngClass]="{
                'is-invalid': f['names'].errors && f['names'].touched
              }"
            />
          </div>
        </div>

        <!-- Correo Institucional -->
        <div class="row regular-row mt-4">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
            Correo Institucional
          </div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <input
              formControlName="email"
              id="email"
              type="text"
              class="form-control"
              placeholder="ejemplo@udea.edu.co"
              [ngClass]="{
                'is-invalid': f['email'].errors && f['email'].touched
              }"
            />
          </div>
        </div>

        <div *ngIf="f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].touched && f['email'].errors?.['pattern']">
            Ingresa tu correo institucional
          </div>
        </div>

        <!-- tipo ID -->
        <div class="row regular-row mt-4">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
            Tipo de Identificación
          </div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <select
              class="form-select form-select-lg"
              id="identification_type"
              formControlName="identification_type"
              required
              placeholder=" "
              [ngClass]="{
                'is-invalid':
                  f['identification_type'].errors &&
                  f['identification_type'].touched
              }"
            >
              <option [value]="type" *ngFor="let type of id_type">
                {{ type | uppercase }}
              </option>
            </select>
          </div>
        </div>

        <!-- Número de Identificación -->
        <div class="row regular-row mt-4">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
            Número de Identificación
          </div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <input
              id="identification_number"
              formControlName="identification_number"
              type="text"
              class="form-control"
              placeholder=" "
              [ngClass]="{
                'is-invalid':
                  (f['identification_number'].errors || f['identification_number'].errors?.['pattern']) &&
                  f['identification_number'].touched
              }"
            />
          </div>
        </div>

        <!-- Telefono -->
        <!-- <div class="row regular-row mt-4">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Teléfono</div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <input
              id="phone"
              formControlName="phone"
              type="number"
              class="form-control"
              [ngClass]="{
                'is-invalid': f['phone'].errors && f['phone'].touched
              }"
            />
          </div>
        </div> -->

        <!-- Vinculación -->
        <div class="row regular-row mt-4">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Vinculación</div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <select
              class="form-select form-select-lg"
              id="rol_id"
              formControlName="rol_id"
              required
              placeholder=" "
              [ngClass]="{
                'is-invalid': f['rol_id'].errors && f['rol_id'].touched
              }"
            >
              <option [value]="rol.id" *ngFor="let rol of rol$ | async">
                {{ rol.name | uppercase }}
              </option>
            </select>
          </div>
        </div>

        <div class="row regular-row mt-4">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
            Tipo de vinculación
          </div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <select
              class="form-select form-select-lg"
              id="vinculation_type"
              formControlName="vinculation_type"
              required
              placeholder=" "
              [ngClass]="{
                'is-invalid':
                  f['vinculation_type'].errors && f['vinculation_type'].touched
              }"
            >
              <option
                [value]="vinculation"
                *ngFor="let vinculation of vinculation_types"
              >
                {{ vinculation | uppercase }}
              </option>
            </select>
          </div>
        </div>

        <div class="row regular-row mt-4">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Escalafón</div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <select
              class="form-select form-select-lg"
              id="scale"
              formControlName="scale"
              required
              placeholder=" "
              [ngClass]="{
                'is-invalid': f['scale'].errors && f['scale'].touched
              }"
            >
              <option [value]="scal" *ngFor="let scal of scale">
                {{ scal | uppercase }}
              </option>
            </select>
          </div>
        </div>

        <!-- Facultad -->
        <div class="row regular-row mt-4" *ngIf="schools$ | async as schools">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
            Elige tu facultad
          </div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <select
              class="form-select form-select-lg"
              #mySelect
              id="Faculty_id"
              required
              placeholder=" "
              (change)="nextDepartment($event)"
            >
              <option [value]="null" selected disabled>Facultad</option>
              <option
                *ngFor="let school of schools; let i = index"
                [value]="school.id"
              >
                {{ school.description | titlecase }}
              </option>
            </select>
          </div>
        </div>

        <!-- Departamento/Instituto -->
        <div
          class="row regular-row mt-4"
          *ngIf="departments$ | async as departments"
        >
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
            Departamento/Instituto
          </div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <select
              class="form-select form-select-lg"
              id="department_id"
              formControlName="department_id"
              required
              placeholder=" "
              [ngClass]="{
                'is-invalid':
                  f['department_id'].errors && f['department_id'].touched
              }"
            >
              <option
                *ngFor="let department of departments"
                [value]="department.id"
              >
                {{ department.name | uppercase }}
              </option>
            </select>
          </div>
        </div>

        <hr />

        <!-- Contraseña -->
        <div class="row regular-row mt-4">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Contraseña</div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <div class="formfloatig">
              <input
                id="password"
                type="password"
                class="form-control"
                formControlName="password"
                placeholder=" "
                [ngClass]="{
                  'is-invalid': f['password'].errors && f['password'].touched
                }"
              />
              <div
                class="invalid-feedback"
                [ngClass]="{
                  'is-invalid': (f['password'].errors?.['required'] || 
                  f['password'].errors?.['maxlength']) && f['password'].touched
                }"
              >
                <div
                  class="invalid"
                  *ngIf="(f['password'].errors?.['required'] || 
                  f['password'].errors?.['minlength']) && f['password'].touched"
                >
                  La contraseña debe contener mínimo 8 caracteres
                </div>
                <div
                  class="invalid"
                  *ngIf=" (f['password'].errors?.['maxlength']) && f['password'].touched"
                >
                  La contraseña es demasiado larga
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row regular-row mt-4">
          <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">
            Confirmar Contraseña
          </div>
          <div class="col-sm-12 col-xs-12 col-md-8 col-12">
            <div class="formfloatig">
              <input
                id="confirm_password"
                type="password"
                class="form-control"
                formControlName="confirm_password"
                placeholder=" "
              />
              <span class="invalid" *ngIf="validatePassword()">
                Las contraseñas no coinciden
              </span>
            </div>
          </div>
        </div>

        <div *ngIf="error" class="alert alert-danger">
          {{ error }}
        </div>

        <hr />

        <div class="footer-row d-md-flex justify-content-md-end mb-3">
          <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
            <button
              class="btn btn-outline-secondary"
              type="button"
              [routerLink]="['../login']"
            >
              Cancelar
            </button>
          </div>

          <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
            <button
              id="btn-sub"
              (submit)="(true)"
              class="btn btn-success"
              [disabled]="validatePassword() || createUserForm.invalid"
            >
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              Confirmar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
