<div class="container card shadow containerInside mt-5 p-3">
  <form [formGroup]="form" (submit)="search()">
    <div class="row mb-3 d-flex justify-content-between">
      <div class="col-xs-12 col-sm-12 col-lg-7">
        <div class="row">
          <div class="col-10 mb-3">
            <input
              type="text"
              class="form-control"
              formControlName="search"
              placeholder="Buscar"
            />
          </div>
          <div class="col-2 search">
            <button class="btn btn-warning" type="submit" (submit)="(true)">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 col-xl-2 col-12 mb-3">
        <span>
          <select
            class="form-select"
            (change)="search()"
            formControlName="activo"
            placeholder="Super usuario"
          >
            <option selected disabled>Estado</option>
            <option [ngValue]="true">Activo</option>
            <option [ngValue]="false">Inactivo</option>
          </select>
        </span>
      </div>
    </div>
  </form>
  <hr />
  <div class="table-responsive-lg">
    <table
      *ngIf="users$ | async as users"
      class="table table-striped table-hover table-borderless table-responsive"
    >
      <thead>
        <tr>
          <th>id</th>
          <th>Nombre completo</th>
          <th>Rol</th>
          <th>Correo</th>
          <th>Identificación</th>
          <th>Departamento</th>
          <th>Facultad</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngIf="users.length == 0" style="width: 100%">
          <td colspan="7">No se encontraron resultados</td>
        </tr>
        <tr
          [routerLink]="['/usuarios/ver/' + user.id]"
          *ngFor="let user of users"
        >
          <th>{{ user.id }}</th>
          <td>{{ user.names + " " + user.last_names | titlecase }}</td>
          <td>{{ user.rol.name }}</td>
          <td>{{ user.email | lowercase }}</td>
          <td>{{ user.identification_number | lowercase }}</td>
          <td>{{ user.department.name }}</td>
          <td>{{ user.department.school.name }}</td>
          <td>{{ user.active ? "Activo" : "Inactivo" }}</td>
          <td>
            <button
              [routerLink]="['/usuarios/editar/' + user.id]"
              (click)="$event.stopPropagation()"
              class="btn btn-light btn-sm"
              type="button"
            >
              <i class="fas fa-edit"></i>
            </button>
            <!-- <button (click)="eliminar(user.id);$event.stopPropagation()"
                        class="button is-danger is-small is-rounded is-outlined " type="button">
                        <i class="fas fa-trash"></i>
                    </button> -->
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr style="width: 100%">
          <td colspan="7">
            <button
              [disabled]="page == 1"
              class="btn btn-outline-primary btn-sm"
              type="button"
              (click)="prevPage()"
            >
              <i class="fas fa-arrow-left"></i>
            </button>
            {{ page }}
            <button
              [disabled]="users.length != limit"
              class="btn btn-outline-primary btn-sm"
              type="button"
              (click)="nextPage()"
            >
              <i class="fas fa-arrow-right"></i>
            </button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="footer-row d-md-flex justify-content-md-end mb-3">
    <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="cancel()"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>

<!-- SPINNER ALL PAGE -->
<app-loader></app-loader>
