<form (ngSubmit)="submit()" [formGroup]="form">
    <div class="row regular-row mt-4 align-items-baseline">
        <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Tiempo(meses) <span style="color: red">*</span></div>
        <div class="col-sm-12 col-xs-12 col-md-8">
            <div class="formfloatig">
                <input id="floatingtime" formControlName="time" class="form-control" placeholder=" " type="number"
                    [ngClass]="{
                'is-invalid':
                  (submitted && f['time'].errors) || isInvalidForm('time')
              }" />
            </div>
        </div>
    </div>

    <div class="row regular-row mt-4 align-items-baseline">
        <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Horas por semana <span style="color: red">*</span></div>
        <div class="col-sm-12 col-xs-12 col-md-8">
            <div class="formfloatig">
                <input id="floatinghours_week" formControlName="hours_week" class="form-control" placeholder=" "
                    type="number" [ngClass]="{
                'is-invalid':
                  (submitted && f['hours_week'].errors) || isInvalidForm('hours_week')
              }" />
            </div>
        </div>
    </div>

    <div class="row regular-row mt-4 align-items-baseline">
        <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Descripción <span style="color: red">*</span></div>
        <div class="col-sm-12 col-xs-12 col-md-8">
            <div class="formfloatig">
                <textarea id="description" formControlName="description" class="form-control" placeholder=" " [ngClass]="{
                'is-invalid':
                  (submitted && f['description'].errors) || isInvalidForm('description')
                }" rows="5"></textarea>
            </div>
            <div *ngIf="(submitted || f['description'].touched) && (f['description'].errors?.['required'] || 
              f['description'].errors?.['maxlength'] || f['description'].errors?.['minlength'])">
                La descripción debe tener al menos 30 caracteres y máximo 500
                caracteres.
            </div>
        </div>
    </div>

    <div class="row regular-row mt-4 align-items-baseline">
        <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Entidad <span style="color: red">*</span></div>
        <div class="col-sm-12 col-xs-12 col-md-8">
            <div class="formfloatig">
                <input id="floatingentity" formControlName="entity" class="form-control" placeholder=" " type="text"
                    [ngClass]="{
                'is-invalid':
                  (submitted && f['entity'].errors) || isInvalidForm('entity')
              }" />
            </div>
        </div>
    </div>

    <div class="row regular-row mt-4 align-items-baseline">
        <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Rol <span style="color: red">*</span></div>
        <div class="col-sm-12 col-xs-12 col-md-8">
            <div class="formfloatig">
                <input id="floatingrole" formControlName="role" class="form-control" placeholder=" " type="text"
                    [ngClass]="{
                'is-invalid':
                  (submitted && f['role'].errors) || isInvalidForm('role')
              }" />
            </div>
        </div>
    </div>
    <div class="row header-row mt-3">
        <div class="col">
            <span class="text-secondary">Objetivos o productos</span>
        </div>
    </div>
    <hr>
    <div class="arrayLike formfloatig justify-content-center" formArrayName="products">
        <div class="row activity_form" *ngFor="let product of productsArr.controls; last as isLast; let i=index "
            [formGroupName]="i">
            <div style="margin-right: 0.5em; margin-bottom: 0.5em" class="lineGroup col-xs-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="formfloatig col-sm-12 col-md-12 col-lg-12">
                        <input type="text" formControlName="name" class="form-control" placeholder=" " />
                        <label class="formLabel">Nombre</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12" style="margin-right: 0.5em; margin-bottom: 0.5em">
                <div class="row" style="margin-left: 0px">
                    <div class="formfloatig col-sm-12 col-md-12 col-lg-12">
                        <textarea rows="5" formControlName="description" class="form-control"
                            placeholder=" "></textarea>
                        <label class="formLabel">Descripción</label>
                    </div>
                </div>
            </div>
            <hr *ngIf="productsArr.length > 1" />
            <div style="width: 100%;" class="buttons col-sm-12 col-md-12 col-lg-2 ms-4 justify-content-end">
                <button class="btn btn-add" type="button" (click)="addInputproducts()" *ngIf="isLast">
                    <i class="fa fa-plus"></i>
                </button>
                <button class="btn btn-remove" type="button" (click)="removeInput('products', i)">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row header-row mt-3">
        <div class="col">
            <span class="text-secondary">Otros usuarios dentro del aval de horas</span>
        </div>
    </div>
    <hr />

    <!-- <div class="row regular-row mt-4 align-items-baseline">
        <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Solicitante</div>
        <div class="col-sm-12 col-xs-12 col-md-8">
            <div class="formfloatig">
                <input class="form-control" type="text" formControlName="search" />
            </div>
        </div>
    </div> -->


</form>