<form
  class="need-validation"
  need-validation
  novalidate
  [formGroup]="form"
  (ngSubmit)="submit()"
>

  <div class="row">
    <!-- DATES -->
    <div class="mt-4 row regular-row align-items-baseline">
      <span class="col-md-4 col-xs-12 col-sm-12 label mb-2">Fechas *</span>

      <app-date-picker-range
        class="col-sm-12 col-xs-12 col-md-8"
        [laboralflag]="true"
        [default_date_picker]="true"
        (datePickerValues)="setDates($event)"
      ></app-date-picker-range>
    </div>

    <!-- LANGUAGE -->
    <div class="row regular-row mt-4 align-items-baseline">
      <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Idioma *</div>
      <div class="col-sm-12 col-xs-12 col-md-8">
        <div class="formfloatig">
          <input
            id="floatingidioma"
            formControlName="lenguage"
            class="form-control"
            type="idioma"
            placeholder=" "
            [ngClass]="{
              'is-invalid':
                (submitted && f['lenguage'].errors) || isInvalidForm('lenguage')
            }"
          />
        </div>
      </div>
    </div>

    <!-- COUNTRY - STATE - CITY -->
    <div class="row regular-row mt-4 align-items-baseline">
      <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">País *</div>
      <div class="col-sm-12 col-xs-12 col-md-8">
        <div class="formfloatig">
          <input
            id="floatingcountry"
            formControlName="country"
            class="form-control"
            placeholder=" "
            [ngClass]="{
              'is-invalid':
                (submitted && f['country'].errors) || isInvalidForm('country')
            }"
          />
        </div>
      </div>
    </div>

    <div class="row regular-row mt-4 align-items-baseline">
      <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Estado/Departamento/Región</div>
      <div class="col-sm-12 col-xs-12 col-md-8">
        <div class="formfloatig">
          <input
            id="floatingstate"
            formControlName="state"
            class="form-control"
            placeholder=" "
            [ngClass]="{ 'is-invalid': isInvalidForm('state') }"
          />
        </div>
      </div>
    </div>

    <div class="row regular-row mt-4 align-items-baseline">
      <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Ciudad</div>
      <div class="col-sm-12 col-xs-12 col-md-8">
        <div class="formfloatig">
          <input
            id="floatingcity"
            formControlName="city"
            class="form-control"
            placeholder=" "
            [ngClass]="{ 'is-invalid': isInvalidForm('city') }"
          />
        </div>
      </div>
    </div>

    <!-- REASON -->
    <div class="row regular-row mt-4 align-items-baseline">
      <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Motivo de la comisión *</div>
      <div class="col-sm-12 col-xs-12 col-md-8">
        <div class="formfloatig">
          <textarea
            id="floatingjustificacion"
            formControlName="reason"
            class="form-control"
            type="reason"
            placeholder=" "
            [ngClass]="{
              'is-invalid':
                (submitted && f['reason'].errors) ||
                isInvalidForm('reason')
            }"
            rows="1"
          ></textarea>
          <!-- errors justification -->
          <div
            *ngIf="
              (submitted || f['reason'].touched) &&
              f['reason'].errors
            "
            class="invalid"
          >
            <div
              *ngIf="(submitted || f['reason'].touched) && (f['reason'].errors?.['required'] || 
              f['reason'].errors?.['maxlength'] || f['reason'].errors?.['minlength'])"
            >
              El motivo debe tener al menos 5 caracteres y máximo 50
              caracteres.
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ALERT BOX -->
    <div class="alert alert-warning mt-3 mb-0">
      <strong>¡Importante!</strong> Favor aclarar como será el manejo de los cursos a su 
              cargo durante el tiempo de la comisión
      </div>

    <!-- JUSTIFICATION -->
    <div class="row regular-row mt-4 align-items-baseline">
      <div class="col-md-4 col-xs-12 col-sm-6 label mb-2">Justificación *</div>
      <div class="col-sm-12 col-xs-12 col-md-8">
        <div class="formfloatig">
          <textarea
            id="floatingjustificacion"
            formControlName="justification"
            class="form-control"
            type="justificacion"
            placeholder=" "
            [ngClass]="{
              'is-invalid':
                (submitted && f['justification'].errors) ||
                isInvalidForm('justification')
            }"
            rows="5"
          ></textarea>
          <!-- errors justification -->
          <div
            *ngIf="
              (submitted || f['justification'].touched) &&
              f['justification'].errors
            "
            class="invalid"
          >
            <div
              *ngIf="(submitted || f['justification'].touched) && (f['justification'].errors?.['required'] || 
              f['justification'].errors?.['maxlength'] || f['justification'].errors?.['minlength'])"
            >
              La justificación debe tener al menos 5 caracteres y máximo 500
              caracteres.
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- FILE UPLOAD -->
    <app-file-upload
    [documents]="f['documents'].value"
    (documentsValues)="SetDocuments($event)"
    (filesValues)="SetFiles($event)">
    </app-file-upload>
  </div>
  <hr />
</form>
